<div class="row" style="height: 600px;">
  <div class="col-sm-12 col-md-2 col-lg-3 col-xl-3">




  </div>
  <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6" style=" font-stretch: extra-expanded;font-size: large;">
    <h2 style="font-weight:bold;">
      Selcet any of those
    </h2>


    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1"> I have a bikeI have a bikeI have a bike</label><br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
    <label for="vehicle2"> have a bikeI have have a bikeI haveI have a bikeI have a bikeI have a bikehave a
      car</label><br>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
    <label for="vehicle3"> have a bikeI havehave a boat</label><br>
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1"> I have a bikeI have a bikeI have a bike</label><br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
    <label for="vehicle2"> I have a bikeI have a bikeI have a bikeI have a bikehave a car</label><br>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
    <label for="vehicle3"> have a boat</label><br>

    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1"> I have a bikeI have a bikeI have a bike</label><br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
    <label for="vehicle2"> have a bikeI have have a bikeI haveI have a bikeI have a bikeI have a bikehave a
      car</label><br>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
    <label for="vehicle3"> have a bikeI havehave a boat</label><br>
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1"> I have a bikeI have a bikeI have a bike</label><br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
    <label for="vehicle2"> I have a bikeI have a bikeI have a bikeI have a bikehave a car</label><br>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
    <label for="vehicle3"> have a boat</label><br>
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1"> I have a bikeI have have a bikeI ha have a bikeI havevea bikeI have a bike</label><br>
    <br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
    <label for="vehicle2"> I have a bikeI have a bikeI have a bikehave a car</label><br>

    <label for="vehicle3"> have a boat</label><br>
    <button mat-button class="btnContinue" (click)="continue()">contineue..</button>






  </div>
</div>

<footer>
  <h5>fotter</h5>
</footer>
