<div class="row" style="height: 600px;">
  <div class="col-sm-12 col-md-2 col-lg-3 col-xl-3">




  </div>
  <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6" style=" font-stretch: extra-expanded;font-size: large;">
    <h2 style="font-weight:bold;">
      Selcet any of those
    </h2>


     <div *ngFor="let v of choosedLists">

         {{v}}

     </div>

    <section class="example-section">



      <section *ngFor="let item of lists">

        <mat-checkbox  name={{item.value}} [checked]="false" (change)="checkCheckBoxvalue($event, item.key)">{{item.value}}</mat-checkbox>

      </section>



      <br>

      <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
    </section>




    <br>
    <button mat-button class="btnContinue" (click)="continue()">contineue..</button>






  </div>
</div>

<footer>
  <h5>fotter</h5>
</footer>
