
<div *ngIf="isLoading===true" class="loading">

  <h3 >{{"loading"}}</h3>
</div>
<div *ngIf="isLoading===false" class="home-container">
  <div class="property-item" *ngFor="let d of filteredHousesdetails">
    
    <img 
      [src]="d.images[0].imageUrl" 
      (click)="navigateTo(d, 'detail', d.house.houseId)" 
      alt="Property Image" 
      class="property-image"
    />

    <div class="property-info" >
      <div class="property-header" >
        <h3 [ngClass]="this.translator.getTitleClass(d.house.header)">{{ d.house.header}}</h3>
        <div class="property-actions">
          <span>{{ "$ " + d.house.price }}</span>
          <i
            id="{{ d.house.houseId }}"
            (click)="toggleLike(d.house.houseId)"
            [ngClass]="{
              'fas': d.isLiked,
              'far': !d.isLiked,
              'fa-heart': true,
              'liked': d.isLiked,
              'not-liked': !d.isLiked,
              'like-icon': true
            }"
          ></i>
        </div>
      </div>

      <div class="description-container">
        <p  class="description-text">
         
          {{ translator.getShortDescription(d.house.description) }}
          <span 
            *ngIf="d.house.description.length > translator.getMaxDescriptionLength(d.house.description)" 
            class="more-link"
            (click)="navigateTo(d, 'detail', d.house.houseId)">
            more
          </span>
        </p>
        <p class="property-address">
          {{ d.address.street }}
          {{ d.address.city }}
          {{ d.address.state || 'N/A' }}
         
        </p>
      </div>
    </div>

  </div>
</div>








 