.menu-container {
  display: none;
}

.home-container {
  width: 100%;
  margin: 0;
  padding: 0;
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
  padding-top: 30px;
  
}

.property-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
  padding: 1%;
 
}

.property-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* Header layout */
.property-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.25rem 0;
  gap: 0.5rem;
}

.property-title {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #333;
  margin: 0;
  flex: 1;
  text-align: left;
}

.property-actions {
  display: flex;
  align-items: center;
  gap: 1.2rem; /* Adjust this value to control spacing */
}

.property-price {
  font-size: 1.1rem;
  color: black;
  margin: 0;
}

.like-icon {
  cursor: pointer;
  font-size: 1.2rem;
  transition: color 0.3s;
}



.property-info {
  padding: 0.5rem;
  padding: 3%;
}

.description-container {
  width: 100%;
  /* padding: 1%; */
  
  box-sizing: border-box;
  margin: 0 auto;
}

.description-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  min-height: 3.5em;
  white-space: normal;
  text-align: justify;
  font-family: 'Noto Sans Ethiopic', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 0%;
  margin-bottom: 0%;
  color: gray;
}

.more-link {
  color: rgb(144, 144, 215);
  text-decoration: underline;
  cursor: pointer;
}

.property-address {
  font-weight: bold;
  text-align: left;
  font-size: 0.9rem;
  color: #444;
  margin-top: 0.5rem;
}

/* Responsive Styles */

/* Phones (portrait) */
@media (max-width: 480px) and (orientation: portrait) {
  .property-item {
    width: 100%;
    margin: 3% 3% 3% 3%;
    margin: 0;
    margin-bottom: 0;
  }

  .property-image {
    height: 250px;
  }

  .description-text {
    width: 100%;
  }
}

/* Phones (landscape) */
@media (max-width: 844px) and (orientation: landscape) {
  .property-item {
    width: calc(32% - 0.5rem) !important;
  }
}

/* Tablets (portrait) */
@media (min-width: 481px) and (orientation: portrait) {
  .property-item {
    width: calc(49.33% - 0.5rem);
  }
}

/* Tablets (landscape) */
@media (min-width: 1024px) and (orientation: landscape) {
  .property-item {
    width: calc(32.33% - 0.5rem);
  }
}

/* Desktops and larger */
@media (min-width: 1025px) {
  .menu-container {
    display: block;
    position: fixed;
    height: 100vh;
    width: 250px;
    overflow-y: auto;
  }

  .home-container {
    margin-left: 200px;
    margin-right: 200px;
    gap: 1.2rem;
    width: auto;
  }

  .property-item {
    width: calc(30.33% - 0.5rem);
  }
}
