<div *ngIf="!IsDetailData" class="loading-container">
  <p>Loading...</p>
</div>

<div *ngIf="IsDetailData" class="property-layout">
  <!-- Property Images -->
  <div class="property-images">
    <div class="property-image-gallery">
      <img
        *ngIf="selectedImage"
        [src]="selectedImage"
        alt="Main Property Image"
        class="main-image"
      />
    </div>
  </div>

  <!-- Property Details -->
  <div class="property-details">
    <div class="property-info">
      <h3 [ngClass]="this.translator.getTitleClass(houeseDetail.house.header)">{{ houeseDetail.house.header}}</h3>
      <span>{{ "$ " + houeseDetail.house.price }}</span>
    
      <p class="description-text">{{ houeseDetail.house.description }}</p>
      <p><b>{{ houeseDetail.address.street }}, 
        {{ houeseDetail.address.city }}, 
        {{ houeseDetail.address.state }} 
        {{ houeseDetail.address.zipCode }}, 
        {{ houeseDetail.address.country }}</b>
      </p>
      <p>Contact: 
        <a [href]="'tel:' + houeseDetail.contact.phone">{{ houeseDetail.contact.phone }}</a>
      </p>  
    </div>
  </div>
 <div *ngIf="houeseDetail.images.length>1" class="all-imgs">
  <p>Image gallery</p>
  <img *ngFor="let i of houeseDetail.images" [src]="i.imageUrl" alt="Property Image" />
</div>
</div>
