.header_container {
    position: fixed;
    width: 100%;
    text-align: center;
}

.body_container {
   
    min-height: 100vh;
    margin: 0%;
    padding-top: 50px;
    background-color: rgb(249, 249, 249);
}

.footer_container {
    widows: 100%;
}