.header_container {
    /* position: fixed; */
    width: 100%;
    text-align: center;
  
}
@media (min-width: 1024px) {
    .header_container {
        position: fixed;
       
      
    }
    .body_container {
   
     
      
         padding-top: 60px; 
       
        
        /* border: 1px solid red; */
    }
}

.body_container {
   
    min-height: 100vh;
    margin: 0%;
  
    /* padding-top: 60px; */
    background-color: rgb(249, 249, 249);
   
    /* border: 1px solid red; */
}

.footer_container {
    widows: 100%;
}


