

 body{
   margin: 0%;
   background-color:#F8F8F8;
 


 }

   .spacer {
     flex: 1;
   }

   .row{
    margin: 0%; padding: 0%; height: auto;
   }

   mat-card-actions{
     text-align: center;
   }
   textarea{
     border: 1px solid lightgray;
   }

   .ac
   {
     padding-top: 3%;

     max-height: 450px !important;


   }


.btnContinue{
  float: right;
}
   /* mat-option.mat-option{
    position: relative;
    height: 24px!important;
    line-height: 24px!important;
    max-height: 24px!important; */
.me{
  padding: 0%;
  margin: 0%;
}
p{
  margin-bottom: 0% !important;
}
mat-radio-group{
  font-variant-caps: all-petite-caps;
}
.btnContinue{
  background-color: green;
}
h2{
  text-transform: capitalize;
}