.scrollable-container {
  display: flex;
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Prevents wrapping of items to the next line */
  -webkit-overflow-scrolling: touch; /* Enables smooth momentum scrolling on iOS devices */
  gap: 3rem; /* Adds spacing between items */
  scroll-behavior: smooth; /* Smooth scrolling on supported browsers */
  padding: 0.5rem;

}

.scrollable-content {
  display: inline-flex;
 
}

.property-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  box-sizing: border-box;
  flex: 0 0 auto; /* Prevent items from shrinking or growing */
  width: 350px; /* Set width of each item */
  margin-right: 1%;
  align-items: center;
}

.property-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.property-info {
  padding: 0.5rem;
}



 
  /* Small screens (Phones in portrait mode) */
  @media (max-width: 480px) {
    .property-item {
    
      /* width: calc(33.33% - 0.5rem);  */
    }
  }
  
  /* Small screens (Phones in landscape mode) */
  @media (max-width: 844px)  {
   
  }

  
  
  /* Large screens (Desktops and above) */
  @media (min-width: 1024px) {
    
    .scrollable-container {
    
      margin-right: 200px;
      margin-left: 200px;
    }
   
  }
