
<!-- <div style="display: flex;  justify-content: center; align-items: center; width: 100%; height:50px; background-color:white;font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 28px; font-weight: 700; color: #fff; text-transform: uppercase;">
 
</div> -->
<div class="header-container"[ngStyle]="{'background-image': 'url(' + cityImage + ')'}">
  <app-search-box></app-search-box>
 
  <div class="location-container">{{ "Current  "+ location.city }}</div>
</div>



<div *ngIf="isLoading" class="loading">
  <h3>loading...</h3>
 
</div>
<div *ngIf="prompt!==null" class="loading">
  <h3 >{{prompt}}</h3>
</div>


<div class="scrollable-container">
  <div class="scrollable-content">
    <div class="property-item" *ngFor="let d of top3houseData">
      <img [src]="d.images[0]?.imageUrl" alt="Property Image" (click)="_navTo(d, 'home')" class="property-image">
      <div class="property-info">
        <h4>{{ d.house.header }}</h4>
        <p>{{ d.address.city }} {{ d.address.state }}</p>
        <!-- <p>{{ d.address.state }}</p> -->
      </div>
    </div>
  </div>
 
</div>
<div class="image-text-container">
  <img class="city-image"  [src]="cityImage">
  <div class="text-content">
    <h3> {{quickInfo}}</h3>
    <p>{{chatdata}}</p>
  </div>
</div>








