body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Section */
.header-container {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  padding-top: 100px;
  padding-bottom: 10px;
  background-color: #f8f8f8;
  border-bottom: 1px solid lightgray;
  margin: 0;
  left: 0;
  right: 0;
  z-index: 1000;

 
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: center; /* Centers the image within the div */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}






/* Location Styling */
.location-container {
  margin-top: 10px;
  font-size: 18px;
  color: gray;
  text-transform: capitalize;
  color: white;
}

.title {
  width: 100%;
  height: 100px;
  background: rgb(206, 204, 204);
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Loading Message */
.loading {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: gray;
}

/* Scrollable Property Listings */
.scrollable-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  gap: 20px; /* Space between items */
  scroll-behavior: smooth;
  padding: 10px;
}

.scrollable-content {
  display: flex;
}

/* Individual Property Items */
.property-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 350px;
  padding: 10px;
  margin: 10px; /* Add spacing between items */
  align-items: center;
}

.property-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}

.city-image {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  cursor: pointer;
}

.property-info {
  padding: 0.5rem;
  text-align: center;
}

/* Image-Text Section */
.image-text-container {
  margin: 50px auto;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
}

.image-text-container img {
  max-width: 400px;
  border-radius: 10px;
}

.text-content {
  max-width: 500px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .image-text-container {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 10px auto;
  }

  .image-text-container img {
    max-width: 100%;
    height: auto;
  }

  .text-content {
    text-align: justify;
    padding: 1%;
  }

  .scrollable-container {
    padding: 5px;
  }
}

@media (min-width: 1024px) {
  .scrollable-container, .image-text-container {
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 0;
   
  }
}
