
 <h4>{{appVerison}}</h4>
<div class="form-container">
  <form (ngSubmit)="onSubmitType()"  #houseTypeForm="ngForm">
    <div class="form-group">
      <input 
        type="text" 
        id="housetype" 
        name="housetype" 
        [(ngModel)]="housetype" 
        required 
        class="form-input" 
        placeholder="Enter house type"
      />
      <button type="submit" [disabled]="!houseTypeForm.form.valid" class="submit-button">Submit</button>
    </div>
  </form>

  <form (ngSubmit)="onSubmitVersion()" #versionForm="ngForm">
    <div class="form-group">
      <input
        type="text"
        id="textInput"
        name="textInput"
        placeholder="Enter version.."
        [(ngModel)]="inputValue"
        required
        class="form-input"
      />
      <button type="submit" [disabled]="!versionForm.form.valid" class="submit-button">Submit</button>
    </div>
  </form>
  <table>
    <thead>
      <tr>
        <th>User ID</th>
        <th>IP</th>
        <th>Country</th>
        <th>Region</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of geoLoc">
        <td>{{ d.userId }}</td>
        <td>{{ d.ip }}</td>
        <td>{{ d.country }}</td>
        <td>{{ d.region }}</td>
        <td>{{ d.city }}</td>
      </tr>
    </tbody>
  </table>
  
</div>
