<div class="row">



  <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3 col-xl-3">

  </div>
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 col-xl-6">




    <mat-card>
      <mat-card-header>




        <mat-card-title style="font-weight:600;text-transform: capitalize;"> {{user.username}}</mat-card-title>

      </mat-card-header>


      <mat-card-content style="padding: 0% !important">


        <div class="imgcontainer">
          <ngx-json-viewer [json]="user"></ngx-json-viewer>



        </div>

        <p style="line-height: 1.5em;
          height: 3em;     
          overflow: hidden; font-size: 16px;">






        </p>
        
        <p style="font-weight:600">



        </p>

      </mat-card-content>

      <mat-card-actions>
        
    <a style="margin-right: 2%; ;" routerLink="/myposts">

      your post</a> <br> <br>
        <button mat-button (click)="logout()">logout</button>


      </mat-card-actions>
    </mat-card>
    <br>



  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">


  </div>
</div>