<div class="upload-form-container">
  <form (ngSubmit)="onSubmit()" #propertyForm="ngForm" enctype="multipart/form-data">

    <!-- Property Header Group -->
    <section class="form-section">
      <!-- <h3>Property Information</h3> -->
      <!-- <div class="form-group">
        <label for="header">Header:</label>
        <select id="header" name="header" [(ngModel)]="property.HouseTypeId" required>
          <option value="" disabled>Select a property type</option>
          <option *ngFor="let option of headerOptions" [value]="option.houseTypeId">
            {{ option.houseTypeName }}
          </option>
        </select>
      </div> -->

      <!-- <div *ngIf="property.HouseTypeId === '812828b7f3214274a1515e54f6446072'" class="form-group">
        <label for="type">Enter property type:</label>
        <input type="text"  [formControl]="searchControl" (input)="sharedInputValidator.onInputChange($event, 25, 'property_type')" id="type" name="type" [(ngModel)]="property.HouseTypeName" required />
        <div *ngIf="submitted && !property.HouseTypeName" class="text-danger">
          Property type is required.
        </div>
        <ul *ngIf="(headerOptions | async) && displayOptions">
          <li *ngFor="let option of headerOptions | async" (click)="onOptionSelected(option)">
            {{ option }}
          </li>
        </ul>
        <div *ngIf="sharedInputValidator.exceededLimits['property_type']" class="text-danger">Exceeds maximum length!</div>
        <div *ngIf="submitted && !property.HouseTypeName" class="text-danger">Property type is required.</div>
      </div> -->
      <!-- *ngIf="property.HouseTypeId === '812828b7f3214274a1515e54f6446072'" -->
      <div class="form-group">
        <label for="type">Title of your post</label>
        <input type="text"
               id="type"
               name="type"
               class="form-control"
               [formControl]="headerSrchControl"
               [(ngModel)]="property.HouseTypeName"
               (focus)="headerdisplayOptions = true"
               (input)="sharedInputValidator.onInputChange($event, 30, 'property_type')"
               autocomplete="off"
               required />
      
        <ul *ngIf="(headerFilteredOptions | async)?.length && headerdisplayOptions" class="dropdown-list">
          <li *ngFor="let option of headerFilteredOptions | async"
              (click)="onHeaderOptionSelected(option)">
            {{ option.houseTypeName }}
          </li>
        </ul>
        <ul *ngIf="displayOptions" class="dropdown-list">
          <li *ngFor="let option of headerFilteredOptions | async"
              (click)="onHeaderOptionSelected(option)">
            {{ option.houseTypeName }}
          </li>
          <!-- <li *ngIf="(headerFilteredOptions | async)?.length === 0">
            <em>No matching types found</em>
          </li> -->
        </ul>
        
      
        <div *ngIf="sharedInputValidator.exceededLimits['property_type']" class="text-danger">
          Exceeds maximum length!
        </div>
        <div *ngIf="submitted && !property.HouseTypeName" class="text-danger">
          Property type is required.
        </div>
      </div>
      
      




      <div class="form-group">
        <label for="price">Price:</label>
        <input
          type="number"
          (input)="sharedInputValidator.onInputChange($event, 10, 'price')"
          id="price"
          name="price"
          [(ngModel)]="property.Price"
          required
          placeholder="$0.00"
          min="0"
          step="0.01"
          class="form-control"
        >
        <div *ngIf="sharedInputValidator.exceededLimits['price']" class="text-danger">Exceeds maximum length!</div>
        <div *ngIf="submitted && !property.Price" class="text-danger">Price is required.</div>
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" (input)="sharedInputValidator.onInputChange($event, 400, 'description')" name="description" [(ngModel)]="property.Description" rows="4" required></textarea>
        <div *ngIf="sharedInputValidator.exceededLimits['description']" class="text-danger">Exceeds maximum length!</div>
        <div *ngIf="submitted && !property.Description" class="text-danger">Description is required.</div>
      </div>
    </section>

    <!-- Address Group -->
    <section class="form-section">
      <!-- <h3>Address Information</h3> -->
      <div class="form-group">
        <label for="address">Area/Neighborhood (Optional)</label>
        <input type="text" id="address" name="address" (input)="sharedInputValidator.onInputChange($event, 50, 'address')" [(ngModel)]="property.Street" />
        <div *ngIf="sharedInputValidator.exceededLimits['address']" class="text-danger">Exceeds maximum length!</div>
        <!-- <div *ngIf="submitted && !property.Street" class="text-danger">Address is required.</div> -->
      </div>

      <div>
        <label for="country">Country</label>
        <input 
          type="text" 
          id="country" 
          name="country" 
         
          (input)="sharedInputValidator.onInputChange($event,15,'country')" 
          [formControl]="searchControl" 
          [(ngModel)]="property.Country" 
        />
        <ul *ngIf="(filteredOptions | async) && displayOptions">
          <li *ngFor="let option of filteredOptions | async" (click)="onOptionSelected(option)">
            {{ option }}
          </li>
        </ul>
        <div *ngIf="sharedInputValidator.exceededLimits['country']" class="text-danger">
          Exceeds maximum length!
        </div>
        <div *ngIf="submitted && !property.Country" class="text-danger">
          Country is required.
        </div>
      </div>
      

      <div class="form-group">
        <label for="city">City</label>
        <input type="text" id="city" name="city" (input)="sharedInputValidator.onInputChange($event, 15, 'city')" [(ngModel)]="property.City" required />
        <div *ngIf="sharedInputValidator.exceededLimits['city']" class="text-danger">Exceeds maximum length!</div>
        <div *ngIf="submitted && !property.City" class="text-danger">City is required.</div>
      </div>

      <div class="form-group">
        <label for="state">State/Region:</label>
        <input type="text" id="state" name="state" (input)="sharedInputValidator.onInputChange($event, 15, 'state')" [(ngModel)]="property.State" required />
        <div *ngIf="sharedInputValidator.exceededLimits['state']" class="text-danger">Exceeds maximum length!</div>
        <div *ngIf="submitted && !property.State" class="text-danger">State is required.</div>
      </div>
    </section>

    <!-- Contact Information Group -->
    <section class="form-section">
      <!-- <h3>Contact Information</h3> -->
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input
          type="tel"
          id="phone"
          name="phone"
          (input)="sharedInputValidator.onInputChange($event, 11, 'phone')"
          [(ngModel)]="property.Phone"
          required
          placeholder="+1234567890"
        />
        <div *ngIf="sharedInputValidator.exceededLimits['phone']" class="text-danger">Exceeds maximum length!</div>
        <div *ngIf="submitted && !property.Phone" class="text-danger">Phone number is required.</div>
      </div>
    </section>


  <section class="form-section">
    <h3> Upload Image</h3>
    <div class="form-group">
      <label for="fileInput" class="upload-button"></label>
      <input
        type="file"
        id="fileInput"
        multiple
        (change)="onImageChange($event)"
        accept="image/*"
        class="file-input"
        required
      />
      <p *ngIf="isUploading" class="loading-message">Uploading...</p>

      <div class="image-container">
        <div *ngFor="let img of uploadedurls">
          <img class="uploaded-image" [src]="img.url" *ngIf="img" alt="Uploaded Image">
        </div>
      </div>
    </div>
  </section>

    <!-- <div class="form-actions">
      <button
        type="submit"[disabled]="
        sharedInputValidator.exceededLimits['price'] || 
        sharedInputValidator.exceededLimits['description'] || 
        sharedInputValidator.exceededLimits['address'] || 
        sharedInputValidator.exceededLimits['city'] || 
        sharedInputValidator.exceededLimits['state'] || 
        sharedInputValidator.exceededLimits['country'] || 
        sharedInputValidator.exceededLimits['phone']"
        class="btn btn-primary"
      >
        Submit
      </button> -->

      <div class="form-actions">
        <button
          type="submit"
          [disabled]="hasExceededLimits() || !propertyForm.form.valid || isUploading"
          [ngClass]="{
            'btn-primary': !hasExceededLimits() && propertyForm.form.valid && !isUploading,
            'btn-disabled': hasExceededLimits() || !propertyForm.form.valid || isUploading
          }"
          class="btn"
        >
          Submit
        </button>

      <p *ngIf="submitted && !propertyForm.form.valid" class="text-danger">Please fill out the form correctly before submitting.</p>
    </div>
    <div>
      <!-- <p [style.color]="isSuccess ? 'green' : 'red'">{{ isSuccess }}</p> -->
      <p [style.color]="isSuccess ? 'green' : 'red'">{{ _message }}</p>
    </div>
   
  </form>
</div>
