.upload-form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;

}


.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #444;
}

input, select, textarea {
  width: 97%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0;
  margin-top: 5px;
}
select{
  width: 99%;
}
textarea {
  resize: vertical;
}

.image-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.uploaded-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-weight: bold;
}

.btn-primary {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #45a049;
}



ul {
  border: none;
  max-height: 150px;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 8px;
  cursor: pointer;
}

li:hover {
  background-color: #f0f0f0;
}
.text-danger{
  color: red;
}



.btn-disabled {
  background-color: #d6d6d6; /* Light gray for disabled state */
  color: #a0a0a0;          /* Dimmed text color */
  cursor: not-allowed;     /* Indicate the button is not clickable */
  width: 100%;
  height: 40px;
}

.btn-primary {
  background-color: #007bff; /* Blue for enabled state */
  color: white;
  cursor: pointer;
  width: 100%;
  height: 40px;
}