.upload-form-container {
   
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .upload-form-container h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 16px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  button:hover:enabled {
    background-color: #0056b3;
  }
  
  .image-container {
    display: flex;
    flex-wrap: wrap;  /* Allow wrapping of items */
    gap: 10px;        /* Optional: space between the images */
  }
  
  .uploaded-image {
    width: 100px;     /* Set fixed width */
    height: 100px;    /* Set fixed height */
    object-fit: cover; /* Ensures images are properly scaled */
  }
  @media (max-width: 768px) {
    .upload-form-container{
      padding: 5%;
      width: 90%;
    }
  }