<div class="upload-form-container">
  <h2>Upload a Property</h2>
  <form (ngSubmit)="onSubmit()" #propertyForm="ngForm" enctype="multipart/form-data">

    <div class="form-group">
      <label for="header">Property Header:</label>
      <select id="header" name="header" [(ngModel)]="property.HouseTypeId" required>
        <option value="" disabled>Select a property type</option>
        <option *ngFor="let option of headerOptions" [value]="option.houseTypeId" >
          {{ option.houseTypeName }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="price">Price:</label>
      <input type="text" id="price" name="price" [(ngModel)]="property.Price" required 
      pattern="^[0-9]+(\.[0-9]{1,2})?$" inputmode="numeric" placeholder="$0.00">    </div>

      <div class="form-group">
        <label for="fileInput" class="upload-button">Upload Image</label>
        <input 
          type="file" 
          id="fileInput" 
          multiple 
          (change)="onImageChange($event)" 
          accept="image/*" 
          class="file-input" 
          required 
        />
      
        <!-- Image upload status -->
        <p *ngIf="isUploading" class="loading-message">Image is uploading...</p>
      
        <div class="image-container">
          <div *ngFor="let img of uploadedurls">
            <img class="uploaded-image" [src]="img" *ngIf="img" alt="Uploaded Image">
          </div>
        </div>
      </div>
      

    <div class="form-group">
      <label for="address">Address:</label>
      <input type="text" id="address" name="address" [(ngModel)]="property.Street" required>
    </div>

    <div class="form-group">
      <label for="country">Country:</label>
      <input type="text" id="city" name="country" [(ngModel)]="property.Country" required>
    </div>
    <div class="form-group">
      <label for="city">City:</label>
      <input type="text" id="city" name="city" [(ngModel)]="property.City" required>
    </div>

    <div class="form-group">
      <label for="phone">Phone Number:</label>
      <input type="tel" id="phone" name="phone" [(ngModel)]="property.Phone" required pattern="^\+?\d{0,13}"
        placeholder="+1234567890">
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" name="description" [(ngModel)]="property.Description" rows="4" required></textarea>
    </div>

    <button type="submit" [disabled]="!propertyForm.form.valid">Submit</button>
    <p>{{this._message}}</p>
  </form>
</div>



