


  mat-toolbar {
   margin: 0%;
   padding: .5%;
    background-color:black;
    color: white;
    position: sticky;
    position: fixed;
   width: 100%;
   text-transform: capitalize;
   z-index: +2;
   height: auto;
   
    
  }
  mat-sidenav-container {
  padding: 0%;
  
  height: auto;
  position:absolute;

  /* margin-right: 3%; */
  top: 100px;
  width: 100%;
  height: auto;

 
  
}
a{
   color: black;
}
  mat-sidenav {
 
    position: absolute;
   
    text-transform: capitalize;
    width: 200px;
    border-right: none;
    background-color: white;
    color: black;
    height: auto;
    font-weight: 500;
   
    position: fixed;
    /* border: 2px solid red; */
    top: 40px;
    padding: 1%;
    
  }

 

  mat-sidenav-content{
    
    background-color: #F8F8F8;
  
    width: auto;
    overflow-y: hidden;
    padding: 0%;
  }
  input
  {
    background-color: white;
    border: 1px solid white;
    width: 100%;
    border-radius: 0% !important;
   

    padding-left: 1%;
    padding-right: 1%;
     

   
  }

  input:focus{
   
    outline: none !important;
   
  }

