<mat-toolbar>
  <div class="row" style="width: 100%; padding: 0%;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
      <button mat-icon-button *ngIf="sidenav.mode==='over'" (click)="sidenav.toggle()">

        <mat-icon *ngIf="!sidenav.opened">
          menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
          close
        </mat-icon>
      </button>
      <button mat-raised-button (click)="home()"
        style=" background-color:black;color: white;text-transform: uppercase;font-weight: bolder;">
        <h3 style="font-weight: bolder;">ኣከራይ ተከራይ</h3>
      </button>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" style="text-align: left;padding: 0%;">
      

          <input id="txtS" type="text" (keyup)="userSearchinput()" [(ngModel)]="searchinput"
          placeholder="Search by city, state or zip code..." style="font-style: italic; font-size: normal;" [formControl]="control" [matAutocomplete]="auto">
        <mat-autocomplete class="ac" #auto="matAutocomplete">
          <mat-option style="height: auto; border-top: none;" [routerLink]="['/detail', r.houseId]" *ngFor="let r of serarchResult "
            [value]="r.keyword">
            
 
            <img [src]="r.imageurl" style="width:50px;height:50px; float: left; border-radius: 3%; margin: 1%;margin-left: 0;">
            <p style="padding: 0%;margin: 0%;line-height: 1em;font-size: small;padding: 1%;">
              <span style="font-weight: bold;">{{r.keyword}}</span>
              {{r.city}} {{r.state}}
              {{r.zipCode}}
              <br>
              {{r.houseRoomeType }}
              <br>
              <span style="color: gray;  margin: 0%;">
                {{r.description}} ....
              </span>
            </p>



          </mat-option>

        </mat-autocomplete>
      
    </div>

    <div class="col-lg-4 col-sm-12 d-none d-lg-block .d-xl-none" style="text-align: right;">
      <button mat-button class="menu-button" (click)="home()" >
        <mat-icon>home</mat-icon>
        <span>ወደቤት</span>
      </button>
      <button mat-button class="menu-button" (click)="account()" >
        <mat-icon>person</mat-icon>
        <span>መለያ</span>
      </button>

      <button mat-button class="menu-button" (click)="upload()">
        <mat-icon>upload</mat-icon>
        <span>ለጥፍ</span>
      </button>

    </div>
    <div class="col-lg-12 col-sm-12">
      <app-progressbar></app-progressbar>
    </div>
  </div>

</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <div style="height: 50px;">
    </div>

    <button mat-button class="menu-button" (click)="home()" >
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button> <br>
    <button mat-button class="menu-button" (click)="account()" >
      <mat-icon>person</mat-icon>
      <span>Account</span>
    </button> <br>
    <button mat-button class="menu-button" (click)="upload()" >
      <mat-icon>upload</mat-icon>
      <span>Create Post</span>
    </button> <br>

    <!-- <a style="margin-right: 2%; ;" routerLink="/fileuploader">fileuploader</a> <br> <br> -->
 
    <!-- <a style="margin-right: 2%; font-weight: bold;" (click)="upload2()">go to list</a> <br>
 -->

   

  </mat-sidenav>
  <mat-sidenav-content>


    <!-- <app-child [inputFromParent]="inputFromParent" (inputChange)="inputFromParent=$event"></app-child> -->

    <router-outlet>

    </router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
