<div class="row">
  <div>

  </div>
  <div style=" padding-bottom: 2%;" class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxlg-3">


    <mat-card>
      <!-- <mat-card-header>

          <mat-card-title style="font-weight:600;">{{serarchedSelectd.houseRoomeType}}</mat-card-title>


        </mat-card-header> -->


      <mat-card-content>


        <div class="imgcontainer">



          <img mat-card-image id="img" style="
           height: auto;" mat-card-image [src]=' serarchedSelectd.imageFiles[0].imageUrl' alt="Photo of a Shiba Inu">




          <div class="top-left">
            <h3>${{serarchedSelectd.price}}</h3>
          </div>
          <div class="top-right">{{serarchedSelectd.imageFiles.length}} Pic</div>

        </div>

        <p style="line-height: 1.5em;
          height: 3em;     
          overflow: hidden; font-size: 15px;">


          {{serarchedSelectd.description}}




        </p>
        <p style="font-weight:600">

          {{serarchedSelectd.address.city}} {{serarchedSelectd.address.state}} {{serarchedSelectd.address.zipCode}}

        </p>
        <p
          (click)="gotodetail2(serarchedSelectd.houseId,serarchedSelectd.houseRoomeType,serarchedSelectd.description,serarchedSelectd.imageFiles[0].imageUrl)">

          Posted on {{serarchedSelectd._Date | date:'mediumDate'}} <span
            style="color:blue; float: right;">more...</span>

        </p>
      </mat-card-content>

    </mat-card>

  </div>
</div>


  <div class="row" >
     <div style="width:100%">
      <H1>Additional related result</H1>
     </div>
   
    <div  *ngFor="let r of serarched"   class="col-6 col-md-4 col-lg-2 col-xl-2">
     <mat-card>
   
 
 
       <mat-card-content>
 
 
         <div class="imgcontainer">
 
 

           <img mat-card-image id="img" style="
            height: auto;" mat-card-image [src]=' r.imageurl' alt="Photo of a Shiba Inu">
 
  
 
 
           <div class="top-left">
             <h3>${{r.price}}</h3>
           </div>
           <!-- <div class="top-right">{{r.imageFiles.length}} Pic</div> -->
 
         </div>
 
         <!-- <p style="line-height: 1.5em;
           height: 3em;     
           overflow: hidden; font-size: 15px;">
 
 
           {{r.description}}
 
 
 
 
         </p> -->
         <p style="font-weight:600">
 
           {{r.city}} {{r.state}} {{r.zipCode}}
 
         </p>
         <p
           (click)="gotodetail2(serarchedSelectd.houseId,serarchedSelectd.houseRoomeType,serarchedSelectd.description,serarchedSelectd.imageFiles[0].imageUrl)">
 
           Posted on {{r._Date | date:'mediumDate'}} <span
             style="color:blue; float: right;">more...</span>
 
         </p>
       </mat-card-content>
 
     </mat-card>
     <br>
   </div>
  </div>




