
<div style="flex-direction: column; " >

    <header class="header">
      <div class="header-container">
        <div class="logo" (click)="navigateToHome()">LOGO</div>
        <input class="search-box" type="text" 
        placeholder="Search.." [(ngModel)]="searchText"
         (focus)="onFocus()"
         (blur)="onBlur()"
         (input)="onSearch(searchText)" />
        
        <div class="right-div">
       
          <button class="login-btn" value="" (click)="navigateToHome()">Home</button>
          <button class="login-btn" value="fav" (click)="navigateToFav()">fav</button>
          <button class="login-btn" value="" (click)="navigateToUpload()">Post</button>
          <button *ngIf="isuserLoggedIn"class="login-btn" (click)="navigateToAccount()">{{username}}</button>
          <button *ngIf="!isuserLoggedIn" class="login-btn"(click)="navigateToLogin()">Login</button>
         
        </div>
     
   
        <button class="menu-toggle" (click)="toggleMenu()">☰</button>
      </div>
      <div id="welcome-container" class="welcome-container">
       
      </div>
    </header>
    <app-search-result  *ngIf="showResults" [results]="searchResults"></app-search-result>
   
 </div>
<div>

<!-- Full-Width Side Menu -->
<div class="side-menu" *ngIf="isMenuOpen">
  <button class="close-btn" (click)="toggleMenu()">×</button>
  <ul>
    <li><a (click)="navigateToAccount()">Account</a></li>
    <li><a (click)="navigateToUpload()">Upload</a></li>
    <li><a >My Posts</a></li>
    <li>
      <button class="login-bt 888888n" (click)="navigateToFav()">fav</button>
    </li>
    <li>
      <button class="login-btn"(click)="navigateToLogin()">Login</button>
    </li>
  
  </ul>
</div>