
<div style="flex-direction: column; " >

    <header class="header">
      <div class="header-container">
        <div class="logo" (click)="navigateToMain()">Logo</div>
        <input class="search-box" type="text" 
        placeholder="Search.." [(ngModel)]="searchText"
         (focus)="onFocus()"
         (blur)="onBlur()"
         (input)="onSearch(searchText)" />
        
        <div class="right-div">
          <button *ngIf="IsNewPost" class="new-item-btn" (click)="ItemViewed()">New</button>
          <button class="login-btn" value="" (click)="navigateToHome()">Home</button>
          <button class="login-btn" value="fav" (click)="navigateToFav()">fav</button>
          <button class="login-btn" value="" (click)="navigateToUpload()">Post</button>
          <button *ngIf="isuserLoggedIn"class="login-btn" (click)="navigateToAccount()">{{username}}</button>
          <button *ngIf="!isuserLoggedIn" class="login-btn"(click)="navigateToLogin()">Login</button>
         
        </div>
        <button class="login-btn1" value="" (click)="navigateToHome()">Home</button>
      
       
        <button class="login-btn1" value="" (click)="navigateToUpload()">Post</button>
        <button *ngIf="!isuserLoggedIn" class="login-btn1"(click)="navigateToLogin()">Login</button>
        <button *ngIf="isuserLoggedIn"class="login-btn1" (click)="navigateToAccount()">{{username}}</button>
        <button class="menu-toggle" (click)="toggleMenu()">☰</button>
      </div>
      <div id="welcome-container" class="welcome-container">
       
      </div>
    </header>
    <app-search-result  *ngIf="showResults" [results]="searchResults"></app-search-result>
   
 </div>
<div>

<!-- Full-Width Side Menu -->
<div class="side-menu" [class.open]="isMenuOpen">
  <button class="close-btn" aria-label="Close menu" (click)="toggleMenu()">×</button>
  <nav>
    <ul class="menu-list">
      <li><a class="menu-item" (click)="navigateToAccount()">Account</a></li>
      <li><a class="menu-item" (click)="navigateToUpload()">Post</a></li>
      <li><a class="menu-item"  (click)="navigateToFav()">Favorites</a></li>
      <!-- Uncomment if needed -->
      <!-- <li><a class="menu-item" (click)="navigateToFav()">Favorites</a></li>
      <li><a class="menu-item" (click)="navigateToLogin()">Login</a></li> -->
    </ul>
  </nav>
</div>
