/* Header Styling */
.header {
  top: 0;
  left: 0;
  background-color: #007bff;
 
  color: white;
  /* z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}

.header-container {
  display: flex;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
 
 
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.search-box {
  padding: 0.5rem;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 1rem;
}

.right-div {
  display: flex;
  margin-left: auto;
}

.login-btn {
  background: none;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-left: auto;
  text-transform: capitalize;
}

.menu-toggle {
  display: none;
  background: none;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive Design for Small Screens */
@media (max-width: 768px) {
  .search-box {
    display: none;
  }

  .login-btn {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .header-container {
    justify-content: space-between;
  }

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    width: 100%;
    position: relative;
  }
}

/* Full-Width Side Menu */
.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #007bff;
  color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  text-align: center;
}

.side-menu li {
  margin: 1rem 0;
}

.side-menu a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.close-btn {
  align-self: flex-end;
  background: none;
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
