<div class="row" style="text-align:center;">


  <div class="col-sm-12 col-md-2 col-lg-3 col-xl-3">




  </div>
  <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6">

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="min-height: 100px;">

 
      <img *ngFor="let a of imageArray" [src]='a' style="width: 60px; height:60px; margin: 1%;display:inline-block;">


    </div>
    <br>

    <div *ngIf="status == null" style="text-align: center;">
      <p>Uploding please wait.. </p>
    </div>

    <img mat-card-image [src]='imagepath' style="width:200px; height: 200px;">
    <br>
    <br>
    <input style="border:1px solid lightgray;" class="custom-file-input" (change)="onChangeFile($event)" type="file">
    <br>
    <br>
    <button style="background-color: white; width: 150px;  border: 1px solid lightgray;  color: black;" mat-button
      (click)="handleSelectedFile()">add</button>



    <br>
    <br>


    <button mat-button class="btnContinue" (click)="continue()">contineue..</button>










  </div>
</div>



<!-- 
<div class="row" style="height: 600px;">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="min-height: 100px;">


    <img *ngFor="let a of imageArray" [src]='a' style="width: 60px; height:60px; margin: 1%;display:inline-block;">


  </div>
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="text-align: center;">

    <div *ngIf="status == null" style="text-align: center;">
      <p>Uploding please wait.. </p>
    </div>

    <img mat-card-image [src]='imagepath' style="width:100px; height: 100px;">
    <br>
    <br>
    <input style="border:1px solid lightgray;" class="custom-file-input" (change)="onChangeFile($event)" type="file">
    <br>
    <br>
    <button style="background-color: white; width: 150px;  border: 1px solid lightgray;  color: black;" mat-button
      (click)="handleSelectedFile()">add</button>



  </div>
  <div style="width: 100%;">
    <button style="" mat-button (click)="continue()">continue..</button>
  </div>
</div> -->