.scrollable-container {
  width: 100%;
    overflow-x: auto;
    white-space: nowrap;
   
    border-radius: 5px;
   
   
   
  }
  
  .scrollable-content {
    display: inline-flex;
  }
  
  .scroll-button {
    min-width: 100px;
    height: 50px;
    margin: 5px;
    padding: 10px;
    background-color:white;
    color: gray;
   
    border: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    
    cursor: pointer;
    text-align: center;
  }
  
  .scroll-button:hover {
    background-color: lightgray;
    color: white;
  }
  
  /* Optional: Hide the scrollbar (for a cleaner look) */
  .scrollable-container::-webkit-scrollbar {
    display: none;
  }
  
  .scrollable-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }


  @media (min-width: 1024px) {
    .scrollable-container {
        margin-left: 240px;
      }
  }
  