.search-results {
 
    text-align: justify;
    background: #fff;
    padding: 10px;
    margin-top: 5px;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: none;
    z-index: 1000;
    border: 1px solid red;
  }
  