/* You can add global styles to this file, and also import other style files */
body{
    
    padding: 0%;
    margin: 0%;

    font-family: 'Noto Sans Ethiopic', sans-serif;
}

.loading{
    display: flex !important;
    height: 50% !important;
    position: absolute;
     justify-content: center !important; 
      align-items: center !important;
       width: 100% !important;
        /* height: 50vh; */
      
       

    }