/* You can add global styles to this file, and also import other style files */
body{
    
    padding: 0%;
    margin: 0%;

    font-family: 'Noto Sans Ethiopic', sans-serif;
}

.liked {
    color: gray !important;
  }
  
  .not-liked {
    color: #ccc !important;
  }

.loading{
    display: flex !important;
    height: 50% !important;
    position: absolute;
     justify-content: center !important; 
      align-items: center !important;
       width: 100% !important;
        /* height: 50vh; */
      
       

    }
    .text-danger{
        color: red;
      }

      h1, h2, h3 {
        text-align: center;
        margin-bottom: 20px;
        color: gray;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-transform: uppercase;
        font-weight: 300;
      }
      
      .form-section {
        background-color: #fff;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
      }
      
