<!-- <input type="button" (click)="GetPublickkey()" value="load xml get key"> -->
<div class="row" style="margin-bottom: 3%; padding-left: 2%; padding-right: 2%;">
    <div class="col-xs-1 col-sm-1 col-md-12 col-lg-2 col-xl-2e">

    </div>
    <div class="search-box col-xs-10 col-sm-10 col-md-6 col-lg-6 col-xl-6">
        <input type="text" placeholder="Search" (keyup)="userSearchinput()" [(ngModel)]="searchinput">
        <button> <i class="fa fa-search"></i>Go</button>


    </div>
    <div style="height: auto; padding-top: 20%;;">
        <!-- {{searchinput}} -->
    </div>
    <div>
        <h1 (click)="clear()">{{wordList}}</h1> <br>
        <h1 (click)="clear()">{{search_value}}</h1>
    </div>

    <div>
        <input type="button" (click)="getDataFromLocal()" name="click" value="click">
        {{val}}
    </div>
    <br>
    <br>
    <div>

        <table>
            <!-- <tr *ngFor="let x of alphObj">
                <td>
                    <input type="text" placeholder="key" (keyup)="userSearchinput($event)" [(ngModel)]="x.AmharicAlph">
                </td>
                <td>
                    <input type="text" placeholder="value" (keyup)="userSearchinput($event)" [(ngModel)]="x.EnglishSound">
                </td>
            </tr> -->

        </table>

        <button (click)="addkeyandValue()">add</button>
        <br>
        <button (click)="sotritinarray()">sotre to array</button>
    </div>
   

</div>
<div>
    <!-- <ngx-json-viewer [json]="_response"></ngx-json-viewer> -->
</div>
<div>
    <form name="conversion">
       
        <div class="boxdeva">
            <table class="tab-kb">
                <tbody>
                  
                    <tr>
                        <td class="arial">h</td>
                        <td><input id="1" type="button" class="bt" title="he" (click)="alpha('ሀ')" value="ሀ"></td>
                        <td><input id="2" type="button" class="bt" title="hu" (click)="alpha('ሁ')" value="ሁ"></td>
                        <td><input id="3" type="button" class="bt" title="hi" (click)="alpha('ሂ')" value="ሂ"></td>
                        <td><input id="4" type="button" class="bt" title="ha" (click)="alpha('ሃ')" value="ሃ"></td>
                        <td><input id="5" type="button" class="bt" title="hee" (click)="alpha('ሄ')" value="ሄ"></td>
                        <td><input id="6" type="button" class="bt" title="h" (click)="alpha('ህ')" value="ህ"></td>
                        <td><input id="7" type="button" class="bt" title="ho" (click)="alpha('ሆ')" value="ሆ"></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="arial">l</td>
                        <td><input id="8" type="button" class="bt" title="le" (click)="alpha('ለ')" value="ለ"></td>
                        <td><input id="9" type="button" class="bt" title="lu" (click)="alpha('ሉ')" value="ሉ"></td>
                        <td><input id="10" type="button" class="bt" title="li" (click)="alpha('ሊ')" value="ሊ"></td>
                        <td><input id="11" type="button" class="bt" title="la" (click)="alpha('ላ')" value="ላ"></td>
                        <td><input id="12" type="button" class="bt" title="lee" (click)="alpha('ሌ')" value="ሌ"></td>
                        <td><input id="13" type="button" class="bt" title="l" (click)="alpha('ል')" value="ል"></td>
                        <td><input id="14" type="button" class="bt" title="lo" (click)="alpha('ሎ')" value="ሎ"></td>
                        <td><input id="15" type="button" class="bt" title="laa" (click)="alpha('ሏ')" value="ሏ"></td>
                    </tr>
                    <tr>
                        <td class="arial">ḥ</td>
                        <td><input id="16" type="button" class="bt" title="He" (click)="alpha('ሐ')" value="ሐ"></td>
                        <td><input id="17" type="button" class="bt" title="Hu" (click)="alpha('ሑ')" value="ሑ"></td>
                        <td><input id="18" type="button" class="bt" title="Hi" (click)="alpha('ሒ')" value="ሒ"></td>
                        <td><input id="19" type="button" class="bt" title="Ha" (click)="alpha('ሓ')" value="ሓ"></td>
                        <td><input id="20" type="button" class="bt" title="Hee" (click)="alpha('ሔ')" value="ሔ"></td>
                        <td><input id="21" type="button" class="bt" title="H" (click)="alpha('ሕ')" value="ሕ"></td>
                        <td><input id="22" type="button" class="bt" title="Ho" (click)="alpha('ሖ')" value="ሖ"></td>
                        <td><input id="23" type="button" class="bt" title="Haa" (click)="alpha('ሗ')" value="ሗ"></td>
                    </tr>
                    <tr>
                        <td class="arial">m</td>
                        <td><input id="24" type="button" class="bt" title="me" (click)="alpha('መ')" value="መ"></td>
                        <td><input id="25" type="button" class="bt" title="mu" (click)="alpha('ሙ')" value="ሙ"></td>
                        <td><input id="26" type="button" class="bt" title="mi" (click)="alpha('ሚ')" value="ሚ"></td>
                        <td><input id="27" type="button" class="bt" title="ma" (click)="alpha('ማ')" value="ማ"></td>
                        <td><input id="28" type="button" class="bt" title="mee" (click)="alpha('ሜ')" value="ሜ"></td>
                        <td><input id="29" type="button" class="bt" title="m" (click)="alpha('ም')" value="ም"></td>
                        <td><input id="30" type="button" class="bt" title="mo" (click)="alpha('ሞ')" value="ሞ"></td>
                        <td><input id="31" type="button" class="bt" title="maa" (click)="alpha('ሟ')" value="ሟ"></td>
                    </tr>
                    <tr>
                        <td class="arial">ś</td>
                        <td><input id="32" type="button" class="bt" title="sze" (click)="alpha('ሠ')" value="ሠ"></td>
                        <td><input id="33" type="button" class="bt" title="szu" (click)="alpha('ሡ')" value="ሡ"></td>
                        <td><input id="34" type="button" class="bt" title="szi" (click)="alpha('ሢ')" value="ሢ"></td>
                        <td><input id="35" type="button" class="bt" title="sza" (click)="alpha('ሣ')" value="ሣ"></td>
                        <td><input id="36" type="button" class="bt" title="szee" (click)="alpha('ሤ')" value="ሤ"></td>
                        <td><input id="37" type="button" class="bt" title="sz" (click)="alpha('ሥ')" value="ሥ"></td>
                        <td><input id="38" type="button" class="bt" title="szo" (click)="alpha('ሦ')" value="ሦ"></td>
                        <td><input id="39" type="button" class="bt" title="szaa" (click)="alpha('ሧ')" value="ሧ"></td>
                    </tr>
                    <tr>
                        <td class="arial">r</td>
                        <td><input id="40" type="button" class="bt" title="re" (click)="alpha('ረ')" value="ረ"></td>
                        <td><input id="41" type="button" class="bt" title="ru" (click)="alpha('ሩ')" value="ሩ"></td>
                        <td><input id="42" type="button" class="bt" title="ri" (click)="alpha('ሪ')" value="ሪ"></td>
                        <td><input id="43" type="button" class="bt" title="ra" (click)="alpha('ራ')" value="ራ"></td>
                        <td><input id="44" type="button" class="bt" title="ree" (click)="alpha('ሬ')" value="ሬ"></td>
                        <td><input id="45" type="button" class="bt" title="r" (click)="alpha('ር')" value="ር"></td>
                        <td><input id="46" type="button" class="bt" title="ro" (click)="alpha('ሮ')" value="ሮ"></td>
                        <td><input id="47" type="button" class="bt" title="raa" (click)="alpha('ሯ')" value="ሯ"></td>
                    </tr>
                    <tr>
                        <td class="arial">s</td>
                        <td><input id="48" type="button" class="bt" title="se" (click)="alpha('ሰ')" value="ሰ"></td>
                        <td><input id="49" type="button" class="bt" title="su" (click)="alpha('ሱ')" value="ሱ"></td>
                        <td><input id="50" type="button" class="bt" title="si" (click)="alpha('ሲ')" value="ሲ"></td>
                        <td><input id="51" type="button" class="bt" title="sa" (click)="alpha('ሳ')" value="ሳ"></td>
                        <td><input id="52" type="button" class="bt" title="see" (click)="alpha('ሴ')" value="ሴ"></td>
                        <td><input id="53" type="button" class="bt" title="s" (click)="alpha('ስ')" value="ስ"></td>
                        <td><input id="54" type="button" class="bt" title="so" (click)="alpha('ሶ')" value="ሶ"></td>
                        <td><input id="55" type="button" class="bt" title="saa" (click)="alpha('ሷ')" value="ሷ"></td>
                    </tr>
                    <tr>
                        <td class="arial">š</td>
                        <td><input id="56" type="button" class="bt" title="she" (click)="alpha('ሸ')" value="ሸ"></td>
                        <td><input id="57" type="button" class="bt" title="shu" (click)="alpha('ሹ')" value="ሹ"></td>
                        <td><input id="58" type="button" class="bt" title="shi" (click)="alpha('ሺ')" value="ሺ"></td>
                        <td><input id="59" type="button" class="bt" title="sha" (click)="alpha('ሻ')" value="ሻ"></td>
                        <td><input id="60" type="button" class="bt" title="shee" (click)="alpha('ሼ')" value="ሼ"></td>
                        <td><input id="61" type="button" class="bt" title="sh" (click)="alpha('ሽ')" value="ሽ"></td>
                        <td><input id="62" type="button" class="bt" title="sho" (click)="alpha('ሾ')" value="ሾ"></td>
                        <td><input id="63" type="button" class="bt" title="shaa" (click)="alpha('ሿ')" value="ሿ"></td>
                    </tr>
                    <tr>
                        <td class="arial">q</td>
                        <td><input id="64" type="button" class="bt" title="qe" (click)="alpha('ቀ')" value="ቀ"></td>
                        <td><input id="65" type="button" class="bt" title="qu" (click)="alpha('ቁ')" value="ቁ"></td>
                        <td><input id="66" type="button" class="bt" title="qi" (click)="alpha('ቂ')" value="ቂ"></td>
                        <td><input id="67" type="button" class="bt" title="qa" (click)="alpha('ቃ')" value="ቃ"></td>
                        <td><input id="68" type="button" class="bt" title="qee" (click)="alpha('ቄ')" value="ቄ"></td>
                        <td><input id="69" type="button" class="bt" title="q" (click)="alpha('ቅ')" value="ቅ"></td>
                        <td><input id="70" type="button" class="bt" title="qo" (click)="alpha('ቆ')" value="ቆ"></td>
                        <td><input id="71" type="button" class="bt" title="qaa" (click)="alpha('ቇ')" value="ቇ"></td>
                    </tr>

                    <tr>
                        <td class="arial">b</td>
                        <td><input id="72" type="button" class="bt" title="be" (click)="alpha('በ')" value="በ"></td>
                        <td><input id="73" type="button" class="bt" title="bu" (click)="alpha('ቡ')" value="ቡ"></td>
                        <td><input id="74" type="button" class="bt" title="bi" (click)="alpha('ቢ')" value="ቢ"></td>
                        <td><input id="75" type="button" class="bt" title="ba" (click)="alpha('ባ')" value="ባ"></td>
                        <td><input id="76" type="button" class="bt" title="bee" (click)="alpha('ቤ')" value="ቤ"></td>
                        <td><input id="77" type="button" class="bt" title="b" (click)="alpha('ብ')" value="ብ"></td>
                        <td><input id="78" type="button" class="bt" title="bo" (click)="alpha('ቦ')" value="ቦ"></td>
                        <td><input id="79" type="button" class="bt" title="baa" (click)="alpha('ቧ')" value="ቧ"></td>
                    </tr>
                    <tr>
                        <td class="arial">v</td>
                        <td><input id="80" type="button" class="bt" title="ve" (click)="alpha('ቨ')" value="ቨ"></td>
                        <td><input id="81" type="button" class="bt" title="vu" (click)="alpha('ቩ')" value="ቩ"></td>
                        <td><input id="82" type="button" class="bt" title="vi" (click)="alpha('ቪ')" value="ቪ"></td>
                        <td><input id="83" type="button" class="bt" title="va" (click)="alpha('ቫ')" value="ቫ"></td>
                        <td><input id="84" type="button" class="bt" title="vee" (click)="alpha('ቬ')" value="ቬ"></td>
                        <td><input id="85" type="button" class="bt" title="v" (click)="alpha('ቭ')" value="ቭ"></td>
                        <td><input id="86" type="button" class="bt" title="vo" (click)="alpha('ቮ')" value="ቮ"></td>
                        <td><input id="87" type="button" class="bt" title="vaa" (click)="alpha('ቯ')" value="ቯ"></td>
                    </tr>
                    <tr>
                        <td class="arial">t</td>
                        <td><input id="88" type="button" class="bt" title="te" (click)="alpha('ተ')" value="ተ"></td>
                        <td><input id="89" type="button" class="bt" title="tu" (click)="alpha('ቱ')" value="ቱ"></td>
                        <td><input id="90" type="button" class="bt" title="ti" (click)="alpha('ቲ')" value="ቲ"></td>
                        <td><input id="91" type="button" class="bt" title="ta" (click)="alpha('ታ')" value="ታ"></td>
                        <td><input id="92" type="button" class="bt" title="tee" (click)="alpha('ቴ')" value="ቴ"></td>
                        <td><input id="93" type="button" class="bt" title="t" (click)="alpha('ት')" value="ት"></td>
                        <td><input id="94" type="button" class="bt" title="to" (click)="alpha('ቶ')" value="ቶ"></td>
                        <td><input id="95" type="button" class="bt" title="taa" (click)="alpha('ቷ')" value="ቷ"></td>
                    </tr>
                    <tr>
                        <td class="arial">č</td>
                        <td><input id="96" type="button" class="bt" title="ce" (click)="alpha('ቸ')" value="ቸ"></td>
                        <td><input id="97" type="button" class="bt" title="cu" (click)="alpha('ቹ')" value="ቹ"></td>
                        <td><input id="98" type="button" class="bt" title="ci" (click)="alpha('ቺ')" value="ቺ"></td>
                        <td><input id="99" type="button" class="bt" title="ca" (click)="alpha('ቻ')" value="ቻ"></td>
                        <td><input id="100" type="button" class="bt" title="cee" (click)="alpha('ቼ')" value="ቼ"></td>
                        <td><input id="101" type="button" class="bt" title="c" (click)="alpha('ች')" value="ች"></td>
                        <td><input id="102" type="button" class="bt" title="co" (click)="alpha('ቾ')" value="ቾ"></td>
                        <td><input id="103" type="button" class="bt" title="caa" (click)="alpha('ቿ')" value="ቿ"></td>
                    </tr>
                    <tr>
                        <td class="arial">ḫ</td>
                        <td><input id="104" type="button" class="bt" title="Xe" (click)="alpha('ኀ')" value="ኀ"></td>
                        <td><input id="105" type="button" class="bt" title="Xu" (click)="alpha('ኁ')" value="ኁ"></td>
                        <td><input id="106" type="button" class="bt" title="Xi" (click)="alpha('ኂ')" value="ኂ"></td>
                        <td><input id="107" type="button" class="bt" title="Xa" (click)="alpha('ኃ')" value="ኃ"></td>
                        <td><input id="108" type="button" class="bt" title="Xee" (click)="alpha('ኄ')" value="ኄ"></td>
                        <td><input id="109" type="button" class="bt" title="X" (click)="alpha('ኅ')" value="ኅ"></td>
                        <td><input id="110" type="button" class="bt" title="Xo" (click)="alpha('ኆ')" value="ኆ"></td>
                        <td><input id="111" type="button" class="bt" title="Xaa" (click)="alpha('ኇ')" value="ኇ"></td>
                    </tr>
                    <tr>
                        <td class="arial">n</td>
                        <td><input id="112" type="button" class="bt" title="ne" (click)="alpha('ነ')" value="ነ"></td>
                        <td><input id="113" type="button" class="bt" title="nu" (click)="alpha('ኑ')" value="ኑ"></td>
                        <td><input id="114" type="button" class="bt" title="ni" (click)="alpha('ኒ')" value="ኒ"></td>
                        <td><input id="115" type="button" class="bt" title="na" (click)="alpha('ና')" value="ና"></td>
                        <td><input id="116" type="button" class="bt" title="nee" (click)="alpha('ኔ')" value="ኔ"></td>
                        <td><input id="117" type="button" class="bt" title="n" (click)="alpha('ን')" value="ን"></td>
                        <td><input id="118" type="button" class="bt" title="no" (click)="alpha('ኖ')" value="ኖ"></td>
                        <td><input id="119" type="button" class="bt" title="naa" (click)="alpha('ኗ')" value="ኗ"></td>
                    </tr>
                    <tr>
                        <td class="arial">ñ</td>
                        <td><input id="120" type="button" class="bt" title="nye" (click)="alpha('ኘ')" value="ኘ"></td>
                        <td><input id="121" type="button" class="bt" title="nyu" (click)="alpha('ኙ')" value="ኙ"></td>
                        <td><input id="122" type="button" class="bt" title="nyi" (click)="alpha('ኚ')" value="ኚ"></td>
                        <td><input id="123" type="button" class="bt" title="nya" (click)="alpha('ኛ')" value="ኛ"></td>
                        <td><input id="124" type="button" class="bt" title="nyee" (click)="alpha('ኜ')" value="ኜ"></td>
                        <td><input id="125" type="button" class="bt" title="ny" (click)="alpha('ኝ')" value="ኝ"></td>
                        <td><input id="126" type="button" class="bt" title="nyo" (click)="alpha('ኞ')" value="ኞ"></td>
                        <td><input id="127" type="button" class="bt" title="nyaa" (click)="alpha('ኟ')" value="ኟ"></td>
                    </tr>
                    <tr>
                        <td class="arial">ʾ</td>
                        <td><input id="128" type="button" class="bt" title="e" (click)="alpha('አ')" value="አ">
                        </td>
                        <td><input id="129" type="button" class="bt" title="u" (click)="alpha('ኡ')" value="ኡ">
                        </td>
                        <td><input id="130" type="button" class="bt" title="i" (click)="alpha('ኢ')" value="ኢ">
                        </td>
                        <td><input id="131" type="button" class="bt" title="a" (click)="alpha('ኣ')" value="ኣ">
                        </td>
                        <td><input id="132" type="button" class="bt" title="ee" (click)="alpha('ኤ')"
                                value="ኤ"></td>
                        <td><input id="133" type="button" class="bt" title="ə" (click)="alpha('እ')" value="እ">
                        </td>
                        <td><input id="134" type="button" class="bt" title="o" (click)="alpha('ኦ')" value="ኦ">
                        </td>
                        <td><input id="135" type="button" class="bt" title="aa" (click)="alpha('ኧ')"
                                value="ኧ"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="boxdeva">
            <table class="tab-kb">
                <tbody>
                    <tr class="arial">
                        <td>&nbsp;</td>
                        <td>ä</td>
                        <td>u</td>
                        <td>i</td>
                        <td>a</td>
                        <td>ē</td>
                        <td>ə</td>
                        <td>o</td>
                        <td>ʷa</td>
                    </tr>
                    <tr>
                        <td class="arial">k</td>
                        <td><input id="136" type="button" class="bt" title="ke" (click)="alpha('ከ')" value="ከ"></td>
                        <td><input id="137" type="button" class="bt" title="ku" (click)="alpha('ኩ')" value="ኩ"></td>
                        <td><input id="138" type="button" class="bt" title="ki" (click)="alpha('ኪ')" value="ኪ"></td>
                        <td><input id="139" type="button" class="bt" title="ka" (click)="alpha('ካ')" value="ካ"></td>
                        <td><input id="140" type="button" class="bt" title="kee" (click)="alpha('ኬ')" value="ኬ"></td>
                        <td><input id="141" type="button" class="bt" title="k" (click)="alpha('ክ')" value="ክ"></td>
                        <td><input id="142" type="button" class="bt" title="ko" (click)="alpha('ኮ')" value="ኮ"></td>
                        <td><input id="143" type="button" class="bt" title="koe" (click)="alpha('ኯ')" value="ኯ"></td>
                    </tr>
                    <tr>
                        <td class="arial">x</td>
                        <td><input id="" type="button" class="bt" title="xe" (click)="alpha('ኸ')" value="ኸ"></td>
                        <td><input id="144" type="button" class="bt" title="xu" (click)="alpha('ኹ')" value="ኹ"></td>
                        <td><input id="145" type="button" class="bt" title="xi" (click)="alpha('ኺ')" value="ኺ"></td>
                        <td><input id="146" type="button" class="bt" title="xa" (click)="alpha('ኻ')" value="ኻ"></td>
                        <td><input id="147" type="button" class="bt" title="xee" (click)="alpha('ኼ')" value="ኼ"></td>
                        <td><input id="148" type="button" class="bt" title="x" (click)="alpha('ኽ')" value="ኽ"></td>
                        <td><input id="149" type="button" class="bt" title="xo" (click)="alpha('ኾ')" value="ኾ"></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="arial">w</td>
                        <td><input id="150" type="button" class="bt" title="we" (click)="alpha('ወ')" value="ወ"></td>
                        <td><input id="151" type="button" class="bt" title="wu" (click)="alpha('ዉ')" value="ዉ"></td>
                        <td><input id="152" type="button" class="bt" title="wi" (click)="alpha('ዊ')" value="ዊ"></td>
                        <td><input id="153" type="button" class="bt" title="wa" (click)="alpha('ዋ')" value="ዋ"></td>
                        <td><input id="154" type="button" class="bt" title="wee" (click)="alpha('ዌ')" value="ዌ"></td>
                        <td><input id="155" type="button" class="bt" title="w" (click)="alpha('ው')" value="ው"></td>
                        <td><input id="156" type="button" class="bt" title="wo" (click)="alpha('ዎ')" value="ዎ"></td>
                        <td>
                            <!-- input type="button" class="bt" title="waa" (click)="alpha('&#4815')" value="&#4815;" -->
                        </td>
                    </tr>
                    <tr>
                        <td class="arial"></td>
                        <td><input id="157" type="button" class="bt" title="e" (click)="alpha('ዐ')"
                                value="ዐ"></td>
                        <td><input id="158" type="button" class="bt" title="u" (click)="alpha('ዑ')"
                                value="ዑ"></td>
                        <td><input id="159" type="button" class="bt" title="i" (click)="alpha('ዒ')"
                                value="ዒ"></td>
                        <td><input id="160" type="button" class="bt" title="a" (click)="alpha('ዓ')"
                                value="ዓ"></td>
                        <td><input id="161" type="button" class="bt" title="ee" (click)="alpha('ዔ')"
                                value="ዔ"></td>
                        <td><input id="162" type="button" class="bt" title="ə" (click)="alpha('ዕ')"
                                value="ዕ"></td>
                        <td><input id="163" type="button" class="bt" title="o" (click)="alpha('ዖ')"
                                value="ዖ"></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="arial">z</td>
                        <td><input id="164" type="button" class="bt" title="ze" (click)="alpha('ዘ')" value="ዘ"></td>
                        <td><input id="165" type="button" class="bt" title="zu" (click)="alpha('ዙ')" value="ዙ"></td>
                        <td><input id="166" type="button" class="bt" title="zi" (click)="alpha('ዚ')" value="ዚ"></td>
                        <td><input id="167" type="button" class="bt" title="za" (click)="alpha('ዛ')" value="ዛ"></td>
                        <td><input id="168" type="button" class="bt" title="zee" (click)="alpha('ዜ')" value="ዜ"></td>
                        <td><input id="169" type="button" class="bt" title="z" (click)="alpha('ዝ')" value="ዝ"></td>
                        <td><input id="170" type="button" class="bt" title="zo" (click)="alpha('ዞ')" value="ዞ"></td>
                        <td><input id="171" type="button" class="bt" title="zaa" (click)="alpha('ዟ')" value="ዟ"></td>
                    </tr>
                    <tr>
                        <td class="arial">ž</td>
                        <td><input id="172" type="button" class="bt" title="zhe" (click)="alpha('ዠ')" value="ዠ"></td>
                        <td><input id="173" type="button" class="bt" title="zhu" (click)="alpha('ዡ')" value="ዡ"></td>
                        <td><input id="174" type="button" class="bt" title="zhi" (click)="alpha('ዢ')" value="ዢ"></td>
                        <td><input id="175" type="button" class="bt" title="zha" (click)="alpha('ዣ')" value="ዣ"></td>
                        <td><input id="176" type="button" class="bt" title="zhee" (click)="alpha('ዤ')" value="ዤ"></td>
                        <td><input id="177" type="button" class="bt" title="zh" (click)="alpha('ዥ')" value="ዥ"></td>
                        <td><input id="179" type="button" class="bt" title="zho" (click)="alpha('ዦ')" value="ዦ"></td>
                        <td><input id="180" type="button" class="bt" title="zhaa" (click)="alpha('ዧ')" value="ዧ"></td>
                    </tr>
                    <tr>
                        <td class="arial">y</td>
                        <td><input id="198" type="button" class="bt" title="ye" (click)="alpha('የ')" value="የ"></td>
                        <td><input id="199" type="button" class="bt" title="yu" (click)="alpha('ዩ')" value="ዩ"></td>
                        <td><input id="200" type="button" class="bt" title="yi" (click)="alpha('ዪ')" value="ዪ"></td>
                        <td><input id="201" type="button" class="bt" title="ya" (click)="alpha('ያ')" value="ያ"></td>
                        <td><input id="202" type="button" class="bt" title="yee" (click)="alpha('ዬ')" value="ዬ"></td>
                        <td><input id="204" type="button" class="bt" title="y" (click)="alpha('ይ')" value="ይ"></td>
                        <td><input id="205" type="button" class="bt" title="yo" (click)="alpha('ዮ')" value="ዮ"></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="arial">d</td>
                        <td><input id="206" type="button" class="bt" title="de" (click)="alpha('ደ')" value="ደ"></td>
                        <td><input id="207" type="button" class="bt" title="du" (click)="alpha('ዱ')" value="ዱ"></td>
                        <td><input id="208" type="button" class="bt" title="di" (click)="alpha('ዲ')" value="ዲ"></td>
                        <td><input id="209" type="button" class="bt" title="da" (click)="alpha('ዳ')" value="ዳ"></td>
                        <td><input id="210" type="button" class="bt" title="dee" (click)="alpha('ዴ')" value="ዴ"></td>
                        <td><input id="212" type="button" class="bt" title="d" (click)="alpha('ድ')" value="ድ"></td>
                        <td><input id="213" type="button" class="bt" title="do" (click)="alpha('ዶ')" value="ዶ"></td>
                        <td><input id="214" type="button" class="bt" title="daa" (click)="alpha('ዷ')" value="ዷ"></td>
                    </tr>

                    <tr>
                        <td class="arial">ǧ</td>
                        <td><input id="215" type="button" class="bt" title="je" (click)="alpha('ጀ')" value="ጀ"></td>
                        <td><input id="216" type="button" class="bt" title="ju" (click)="alpha('ጁ')" value="ጁ"></td>
                        <td><input id="217" type="button" class="bt" title="ji" (click)="alpha('ጂ')" value="ጂ"></td>
                        <td><input id="218" type="button" class="bt" title="ja" (click)="alpha('ጃ')" value="ጃ"></td>
                        <td><input id="219" type="button" class="bt" title="jee" (click)="alpha('ጄ')" value="ጄ"></td>
                        <td><input id="220" type="button" class="bt" title="j" (click)="alpha('ጅ')" value="ጅ"></td>
                        <td><input id="221" type="button" class="bt" title="jo" (click)="alpha('ጆ')" value="ጆ"></td>
                        <td><input id="222" type="button" class="bt" title="jaa" (click)="alpha('ጇ')" value="ጇ"></td>
                    </tr>
                    <tr>
                        <td class="arial">g</td>
                        <td><input id="223" type="button" class="bt" title="ge" (click)="alpha('ገ')" value="ገ"></td>
                        <td><input id="224" type="button" class="bt" title="gu" (click)="alpha('ጉ')" value="ጉ"></td>
                        <td><input id="225" type="button" class="bt" title="gi" (click)="alpha('ጊ')" value="ጊ"></td>
                        <td><input id="226" type="button" class="bt" title="ga" (click)="alpha('ጋ')" value="ጋ"></td>
                        <td><input id="227" type="button" class="bt" title="gee" (click)="alpha('ጌ')" value="ጌ"></td>
                        <td><input id="228" type="button" class="bt" title="g" (click)="alpha('ግ')" value="ግ"></td>
                        <td><input id="229" type="button" class="bt" title="go" (click)="alpha('ጎ')" value="ጎ"></td>
                        <td><input id="230" type="button" class="bt" title="gaa" (click)="alpha('ጏ')" value="ጏ"></td>
                    </tr>

                    <tr>
                        <td class="arial">ṭ</td>
                        <td><input id="231" type="button" class="bt" title="the" (click)="alpha('ጠ')" value="ጠ"></td>
                        <td><input id="232" type="button" class="bt" title="thu" (click)="alpha('ጡ')" value="ጡ"></td>
                        <td><input id="233" type="button" class="bt" title="thi" (click)="alpha('ጢ')" value="ጢ"></td>
                        <td><input id="234" type="button" class="bt" title="tha" (click)="alpha('ጣ')" value="ጣ"></td>
                        <td><input id="235" type="button" class="bt" title="thee" (click)="alpha('ጤ')" value="ጤ"></td>
                        <td><input id="236" type="button" class="bt" title="th" (click)="alpha('ጥ')" value="ጥ"></td>
                        <td><input id="237" type="button" class="bt" title="tho" (click)="alpha('ጦ')" value="ጦ"></td>
                        <td><input id="238" type="button" class="bt" title="thaa" (click)="alpha('ጧ')" value="ጧ"></td>
                    </tr>
                    <tr>
                        <td class="arial">č̣</td>
                        <td><input id="239" type="button" class="bt" title="che" (click)="alpha('ጨ')" value="ጨ"></td>
                        <td><input id="240" type="button" class="bt" title="chu" (click)="alpha('ጩ')" value="ጩ"></td>
                        <td><input id="241" type="button" class="bt" title="chi" (click)="alpha('ጪ')" value="ጪ"></td>
                        <td><input id="242" type="button" class="bt" title="cha" (click)="alpha('ጫ')" value="ጫ"></td>
                        <td><input id="243" type="button" class="bt" title="chee" (click)="alpha('ጬ')" value="ጬ"></td>
                        <td><input id="245" type="button" class="bt" title="ch" (click)="alpha('ጭ')" value="ጭ"></td>
                        <td><input id="236" type="button" class="bt" title="cho" (click)="alpha('ጮ')" value="ጮ"></td>
                        <td><input id="237" type="button" class="bt" title="chaa" (click)="alpha('ጯ')" value="ጯ"></td>
                    </tr>
                    <tr>
                        <td class="arial">p̣</td>
                        <td><input id="238" type="button" class="bt" title="phe" (click)="alpha('ጰ')" value="ጰ"></td>
                        <td><input id="239" type="button" class="bt" title="phu" (click)="alpha('ጱ')" value="ጱ"></td>
                        <td><input id="240" type="button" class="bt" title="phi" (click)="alpha('ጲ')" value="ጲ"></td>
                        <td><input id="241" type="button" class="bt" title="pha" (click)="alpha('ጳ')" value="ጳ"></td>
                        <td><input id="242" type="button" class="bt" title="phee" (click)="alpha('ጴ')" value="ጴ"></td>
                        <td><input id="243" type="button" class="bt" title="ph" (click)="alpha('ጵ')" value="ጵ"></td>
                        <td><input id="244" type="button" class="bt" title="pho" (click)="alpha('ጶ')" value="ጶ"></td>
                        <td><input id="245" type="button" class="bt" title="phaa" (click)="alpha('ጷ')" value="ጷ"></td>
                    </tr>
                    <tr>
                        <td class="arial">ṣ</td>
                        <td><input id="245" type="button" class="bt" title="tse" (click)="alpha('ጸ')" value="ጸ"></td>
                        <td><input id="246" type="button" class="bt" title="tsu" (click)="alpha('ጹ')" value="ጹ"></td>
                        <td><input id="247" type="button" class="bt" title="tsi" (click)="alpha('ጺ')" value="ጺ"></td>
                        <td><input id="248" type="button" class="bt" title="tsa" (click)="alpha('ጻ')" value="ጻ"></td>
                        <td><input id="249" type="button" class="bt" title="tsee" (click)="alpha('ጼ')" value="ጼ"></td>
                        <td><input id="250" type="button" class="bt" title="ts" (click)="alpha('ጽ')" value="ጽ"></td>
                        <td><input id="251" type="button" class="bt" title="tso" (click)="alpha('ጾ')" value="ጾ"></td>
                        <td><input id="252" type="button" class="bt" title="tsaa" (click)="alpha('ጿ')" value="ጿ"></td>
                    </tr>
                    <tr>
                        <td class="arial">ṣ́</td>
                        <td><input id="253" type="button" class="bt" title="tze" (click)="alpha('ፀ')" value="ፀ"></td>
                        <td><input id="254" type="button" class="bt" title="tzu" (click)="alpha('ፁ')" value="ፁ"></td>
                        <td><input id="255" type="button" class="bt" title="tzi" (click)="alpha('ፂ')" value="ፂ"></td>
                        <td><input id="256" type="button" class="bt" title="tza" (click)="alpha('ፃ')" value="ፃ"></td>
                        <td><input id="257" type="button" class="bt" title="tzee" (click)="alpha('ፄ')" value="ፄ"></td>
                        <td><input id="258" type="button" class="bt" title="tz" (click)="alpha('ፅ')" value="ፅ"></td>
                        <td><input id="259" type="button" class="bt" title="tzo" (click)="alpha('ፆ')" value="ፆ"></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="arial">f</td>
                        <td><input id="260" type="button" class="bt" title="fe" (click)="alpha('ፈ')" value="ፈ"></td>
                        <td><input id="261" type="button" class="bt" title="fu" (click)="alpha('ፉ')" value="ፉ"></td>
                        <td><input id="262" type="button" class="bt" title="fi" (click)="alpha('ፊ')" value="ፊ"></td>
                        <td><input id="263" type="button" class="bt" title="fa" (click)="alpha('ፋ')" value="ፋ"></td>
                        <td><input id="264" type="button" class="bt" title="fee" (click)="alpha('ፌ')" value="ፌ"></td>
                        <td><input id="265" type="button" class="bt" title="f" (click)="alpha('ፍ')" value="ፍ"></td>
                        <td><input id="266" type="button" class="bt" title="fo" (click)="alpha('ፎ')" value="ፎ"></td>
                        <td><input id="267" type="button" class="bt" title="faa" (click)="alpha('ፏ')" value="ፏ"></td>
                    </tr>
                    <tr>
                        <td class="arial">p</td>
                        <td><input id="268" type="button" class="bt" title="pe" (click)="alpha('ፐ')" value="ፐ"></td>
                        <td><input id="269" type="button" class="bt" title="pu" (click)="alpha('ፑ')" value="ፑ"></td>
                        <td><input id="270" type="button" class="bt" title="pi" (click)="alpha('ፒ')" value="ፒ"></td>
                        <td><input id="271" type="button" class="bt" title="pa" (click)="alpha('ፓ')" value="ፓ"></td>
                        <td><input id="272" type="button" class="bt" title="pee" (click)="alpha('ፔ')" value="ፔ"></td>
                        <td><input id="273" type="button" class="bt" title="p" (click)="alpha('ፕ')" value="ፕ"></td>
                        <td><input id="274" type="button" class="bt" title="po" (click)="alpha('ፖ')" value="ፖ"></td>
                        <td><input id="275" type="button" class="bt" title="paa" (click)="alpha('ፗ')" value="ፗ"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="espc"></div>
        <div class="boxdeva">
            <table class="tab-kb">
                <tbody>
                   
                    <tr>
                        <td class="arial">qʷ</td>
                        <td><input id="276" type="button" class="bt" title="qwe" (click)="alpha('ቈ')" value="ቈ"></td>
                        <td><input id="277" type="button" class="bt" title="qwi" (click)="alpha('ቊ')" value="ቊ"></td>
                        <td><input id="278" type="button" class="bt" title="qwa" (click)="alpha('ቋ')" value="ቋ"></td>
                        <td><input id="279" type="button" class="bt" title="qwee" (click)="alpha('ቌ')" value="ቌ"></td>
                        <td><input id="280" type="button" class="bt" title="qw" (click)="alpha('ቍ')" value="ቍ"></td>
                    </tr>

                    <tr>
                        <td class="arial">ḫʷ</td>
                        <td><input id="281" type="button" class="bt" title="Xwe" (click)="alpha('ኈ')" value="ኈ"></td>
                        <td><input id="282" type="button" class="bt" title="Xwi" (click)="alpha('ኊ')" value="ኊ"></td>
                        <td><input id="283" type="button" class="bt" title="Xwa" (click)="alpha('ኋ')" value="ኋ"></td>
                        <td><input id="284" type="button" class="bt" title="Xwee" (click)="alpha('ኌ')" value="ኌ"></td>
                        <td><input id="285" type="button" class="bt" title="Xw" (click)="alpha('ኍ')" value="ኍ"></td>
                    </tr>
                    <tr>
                        <td class="arial">kʷ</td>
                        <td><input id="286" type="button" class="bt" title="kwe" (click)="alpha('ኰ')" value="ኰ"></td>
                        <td><input id="287" type="button" class="bt" title="kwi" (click)="alpha('ኲ')" value="ኲ"></td>
                        <td><input id="288" type="button" class="bt" title="kwa" (click)="alpha('ኳ')" value="ኳ"></td>
                        <td><input id="289" type="button" class="bt" title="kwee" (click)="alpha('ኴ')" value="ኴ"></td>
                        <td><input id="290" type="button" class="bt" title="kw" (click)="alpha('ኵ')" value="ኵ"></td>
                    </tr>
                    <tr>
                        <td class="arial">xʷ</td>
                        <td><input id="291" type="button" class="bt" title="xwe" (click)="alpha('ዀ')" value="ዀ"></td>
                        <td><input id="292" type="button" class="bt" title="xwi" (click)="alpha('ዂ')" value="ዂ"></td>
                        <td><input id="293" type="button" class="bt" title="xwa" (click)="alpha('ዃ')" value="ዃ"></td>
                        <td><input id="294" type="button" class="bt" title="xwee" (click)="alpha('ዄ')" value="ዄ"></td>
                        <td><input id="295" type="button" class="bt" title="xw" (click)="alpha('ዅ')" value="ዅ"></td>
                    </tr>
                    <tr>
                        <td class="arial">gʷ</td>
                        <td><input id="296" type="button" class="bt" title="gwe" (click)="alpha('ጐ')" value="ጐ"></td>
                        <td><input id="297" type="button" class="bt" title="gwi" (click)="alpha('ጒ')" value="ጒ"></td>
                        <td><input id="298" type="button" class="bt" title="gwa" (click)="alpha('ጓ')" value="ጓ"></td>
                        <td><input id="299" type="button" class="bt" title="gwee" (click)="alpha('ጔ')" value="ጔ"></td>
                        <td><input id="300" type="button" class="bt" title="gw" (click)="alpha('ጕ')" value="ጕ"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="boxdeva">
            <p class="k">punctuation </p>
            <div class="as"><input id="301" type="button" class="bt" title="wordspace" (click)="alpha('፡')" value="፡">
            </div>
            <div class="as"><input id="302" type="button" class="bt" title="full stop" (click)="alpha('።')" value="።">
            </div>
            <div class="as"><input id="303" type="button" class="bt" title="comma" (click)="alpha('፣')" value="፣"></div>
            <div class="as"><input id="304" type="button" class="bt" title="semicolon" (click)="alpha('፤')" value="፤">
            </div>
            <div class="as"><input id="305" type="button" class="bt" title="colon" (click)="alpha('፥')" value="፥"></div>
            <div class="as"><input id="306" type="button" class="bt" title="preface colon" (click)="alpha('፦')"
                    value="፦"></div>
            <div class="as"><input id="307" type="button" class="bt" title="question mark" (click)="alpha('፧')"
                    value="፧"></div>
            <div class="as"><input id="308" type="button" class="bt" title="paragraph separator" (click)="alpha('፨')"
                    value="፨"></div>
            <div class="as"><input id="309" type="button" class="bt" title="section mark" value="፠"
                    (click)="alpha('፠')"></div>
            <div class="esp"></div>

            <!-- <div class="as">1<p><input id="310" type="button" class="bt" title="1" (click)="alpha('፩')" value="፩"></p>
            </div>
            <div class="as">2<p><input id="311" type="button" class="bt" title="2" (click)="alpha('፪')" value="፪"></p>
            </div>
            <div class="as">3<p><input id="312" type="button" class="bt" title="3" (click)="alpha('፫')" value="፫"></p>
            </div>
            <div class="as">4<p><input id="313" type="button" class="bt" title="4" (click)="alpha('፬')" value="፬"></p>
            </div>
            <div class="as">5<p><input id="314" type="button" class="bt" title="5" (click)="alpha('፭')" value="፭"></p>
            </div>
            <div class="as">6<p><input id="315" type="button" class="bt" title="6" (click)="alpha('፮')" value="፮"></p>
            </div>
            <div class="as">7<p><input id="316" type="button" class="bt" title="7" (click)="alpha('፯')" value="፯"></p>
            </div>
            <div class="as">8<p><input id="317" type="button" class="bt" title="8" (click)="alpha('፰')" value="፰"></p>
            </div>
            <div class="as">9<p><input id="318" type="button" class="bt" title="9" (click)="alpha('፱')" value="፱"></p> -->
            </div>
            <!-- <div class="esp"></div>
            <div class="as"><span class="k">10</span>
                <p><input id="319" type="button" class="bt" title="10" (click)="alpha('፲')" value="፲"></p>
            </div>
            <div class="as"><span class="k">20</span>
                <p><input id="320" type="button" class="bt" title="20" (click)="alpha('፳')" value="፳"></p>
            </div>
            <div class="as"><span class="k">30</span>
                <p><input id="321" type="button" class="bt" title="30" (click)="alpha('፴')" value="፴"></p>
            </div>
            <div class="as"><span class="k">40</span>
                <p><input id="322" type="button" class="bt" title="40" (click)="alpha('፵')" value="፵"></p>
            </div>
            <div class="as"><span class="k">50</span>
                <p><input id="323" type="button" class="bt" title="50" (click)="alpha('፶')" value="፶"></p>
            </div>
            <div class="as"><span class="k">60</span>
                <p><input id="324" type="button" class="bt" title="60" (click)="alpha('፷')" value="፷"></p>
            </div>
            <div class="as"><span class="k">70</span>
                <p><input id="325" type="button" class="bt" title="70" (click)="alpha('፸')" value="፸"></p>
            </div>
            <div class="as"><span class="k">80</span>
                <p><input id="326" type="button" class="bt" title="80" (click)="alpha('፹')" value="፹"></p>
            </div>
            <div class="as"><span class="k">90</span>
                <p><input id="327" type="button" class="bt" title="90" (click)="alpha('፺')" value="፺"></p>
            </div>
            <div class="as"><span class="k">100</span>
                <p><input id="328" type="button" class="bt" title="100" (click)="alpha('፻')" value="፻"></p>
            </div>
            <div class="as">
                <p><input id="329" type="button" class="bt" title="10 000" (click)="alpha('፼')" value="፼"></p>
            </div> -->
        <!-- </div> -->
        
    </form>


</div>