<!-- <input type="button" (click)="GetPublickkey()" value="load xml get key"> -->
<div class="row" style="margin-bottom: 3%; padding-left: 2%; padding-right: 2%;">
    <div class="col-xs-1 col-sm-1 col-md-12 col-lg-2 col-xl-2e">

    </div>
    <div class="search-box col-xs-10 col-sm-10 col-md-6 col-lg-6 col-xl-6">
        <input type="text" placeholder="Search" (keyup)="userSearchinput($event)" [(ngModel)]="searchinput">
        <button> <i class="fa fa-search"></i>Go</button>


    </div>
    <div style="height: auto; padding-top: 20%;;">
        <!-- {{searchinput}} -->
    </div>
    <div>
        <h1 (click)="clear()">{{wordList}}</h1> <br>
        <h1 (click)="clear()">{{search_value}}</h1>
    </div>

    <div>
        <input type="button" (click)="getDataFromLocal()" name="click" value="click">
        {{val}}
    </div>
    <br>
    <br>
    <div>

        <table>
            <!-- <tr *ngFor="let x of alphObj">
                <td>
                    <input type="text" placeholder="key" (keyup)="userSearchinput($event)" [(ngModel)]="x.AmharicAlph">
                </td>
                <td>
                    <input type="text" placeholder="value" (keyup)="userSearchinput($event)" [(ngModel)]="x.EnglishSound">
                </td>
            </tr> -->

        </table>

        <button (click)="addkeyandValue()">add</button>
        <br>
        <button (click)="sotritinarray()">sotre to array</button>
    </div>
   

</div>
<div>
    <!-- <ngx-json-viewer [json]="_response"></ngx-json-viewer> -->
</div>
<div>
   
    <div>
            <ngx-json-viewer [json]="_response"></ngx-json-viewer>
      
    </div>


</div>