<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3 col-xl-3">

    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 col-xl-6">

        
          <div class="imgcontainer">

               <ng-image-slider [images]="imageObject" #nav>

            </ng-image-slider>

          </div>
        
          <h2 style="color: green;"> {{house?.price|currency}}</h2>
          <h2>{{result.header}}</h2>
          <p>
            
              {{result.Description}}

          </p>
          <ul *ngFor="let d of house.descriptionlists">
            <li>{{d.description}}</li>
           
          </ul>  
          <p style="font-weight:600">

            {{result.city}} {{result.state}} {{result.zipCode}} <br>
            {{result.street}}

          </p>
          <p>

            Posted on  {{result._Date | date:'mediumDate'}}
          </p>
          <p>

              contact  {{result.phone}}
            </p>





        <!-- <ngx-json-viewer [json]="imgurls"></ngx-json-viewer>
        <br> -->



    </div>
    <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6">
      <button mat-button class="btnContinue" (click)="post()">publish</button>
    </div>

</div>
