<footer style="background-color: #333; color: white; padding: 20px; text-align: center;">
    <div class="footer-content">
      <div style="margin-bottom: 15px;">
        <!-- <p>&copy; {{ currentYear }} My Awesome Website. All rights reserved.</p> -->
        <p>&copy; {{ currentYear }} </p>
      </div>
      <div class="social-media-links" style="margin-bottom: 15px;">
        <!-- <a  style="margin: 0 10px; color: white; text-decoration: none;">Facebook</a>
        <a  style="margin: 0 10px; color: white; text-decoration: none;">Twitter</a>
        <a  style="margin: 0 10px; color: white; text-decoration: none;">Instagram</a>
        <a  style="margin: 0 10px; color: white; text-decoration: none;">LinkedIn</a> -->
      </div>
      <div class="footer-links">
        <!-- <a  style="margin: 0 10px; color: white; text-decoration: none;">Privacy Policy</a>
        <a  style="margin: 0 10px; color: white; text-decoration: none;">Terms of Service</a>
        <a  style="margin: 0 10px; color: white; text-decoration: none;">Contact Us</a> -->
      </div>
    </div>
  </footer>
  
