.edit-container {
    max-width: 800px;
    min-height: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  }
  
  .edit-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .edit-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: #444;
    font-weight: 500;
  }
  
  .input {
    padding: 8px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 97%;
  }
  
  textarea.input {
    resize: vertical;
    min-height: 80px;
  }
  
  .image-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  img.edit-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
  }
  
  .upload-label {
    display: block;
    margin-top: 15px;
  }
  
  .upload-input {
    margin-top: 5px;
  }
  
  .btn-delete {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-delete:hover {
    background-color: #c0392b;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .btn-save {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-save:hover {
    background-color: #45a049;
  }
  


 