<div class="d-flex justify-content-center align-items-center">
    
    <div id="myinnerdiv1">
        <div id="innerContainer">
            <h2 id="pro" style="margin-top: 10px; color: red;">{{selectvaluePrompt}}</h2>
            <label for="select1"><b>ይምረጡ</b><b>*</b></label>

            <select id="ddSelect" name="select1" (change)="setValue($event)">
                <option disabled selected value>--- ይምረጡ ---</option>
                <option [value]="_title.value" *ngFor="let _title of title">
                    {{_title.viewValue}}
                </option>
            </select>




            <br>
            <h2 style="margin-top: 10px;">{{selectvalue}}</h2>
            <!-- <input id="btn" type="button" value="Take Pricture" (click)="onclick()"> -->

            <label for="description"><b>መግለጫ</b></label>
            <textarea id="description" name="description" placeholder="descriptions..."
                [(ngModel)]='content.description' (input)="KeyFoucsOn_description($event)">

            </textarea>


            <label for="price"><b>ዋጋ ያስገቡ</b></label>
            <input id="price" name="price" class="inputTxt" type="number" placeholder="asking price.."
                [(ngModel)]='content.price' (focus)="KeyFoucsOn_price()">



            <label for="contact"><b>ስልክ ቁጥርዎን ያስገቡ</b></label>
            <input id="phone" name="contact" class="inputTxt" type="tel" placeholder="phone.."
                [(ngModel)]='content.phone' (focus)="KeyFoucsOn_phone()">


            <label for="city"><b>ከተማ ያስገቡ</b></label>
            <input id="city" name="city" class="inputTxt" type="text" placeholder="city.." [(ngModel)]='content.city'
                (focus)="KeyFoucsOn_city()">



            <div *ngIf="timbimageurl != null">
                <label for="check">
                    <input id="check" type="checkbox">
                    Make this cover image
                </label>
                <img [src]="timbimageurl" style="width: 100%;height: inherit;">

                <!-- <button mat-button (click)="removeimage()">delete</button> -->
            </div>
            <p style="font-weight:bold; padding:1%">
                {{myprompt}}
            </p>
            <div style="width:100%;height: auto; padding:0%" *ngIf="imageurls.length >= 1">
                <div *ngFor="let d of imageurls" class="container1">
                    <img [src]="d.imageUrl" class="imgs" [id]="d.id" (click)="onImageclick($event, d.id)">
                    <input type="button" value="x" class="btn" (click)="removeimage(d.id, d.imageUrl)">
                </div>
            </div>
            <br>
            <div *ngIf="imageurls.length == 0">
                <img [src]="iconimage" style="width: 160px;height: 110px;">
            </div>
            <div>
                <label class="lblFile" for="file-input">Add Pictures</label>
                <input type="file" id="file-input" alife-file-to-base64 multiple (input)="onChangeFile($event)">

            </div>
            <br>

            <br>
            <div>
                <p style="color:#04AA6D">{{publishmessage}}</p>
            </div>
            <button mat-button id="btn" class="btnContinue" (click)="PublishContent()" type="button">ለመለጠፍ ጠቅ
                ያድርጉ</button>

            <br>
            <!-- <input id="btn" (click)="test()" type="button" value="test tumbnail"> <br>
            <br>
            <br> -->

            <!-- <br>
            <br> <br> <br> <br> <br> <br> -->
            <!-- <ngx-json-viewer [json]=[mydata]></ngx-json-viewer> -->
        </div>
        <!-- <div *ngIf="mydata != null">
            {{"mobole " + isMobile}}
            <br>
            {{"tablet " + isTablet}}
            <br>
            {{"Pc " + isDesktop}}
           
        </div> -->
    </div>

</div>


<style>
    label {
        padding: 1%;
        width: 100%;
        font-family: monospace;
        font-size: large;

    }

    h4 {
        border: 1px solid red;
    }

    h2 {
        text-align: center;
    }

    p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-align: left;
        color: rgb(83, 83, 83);
        padding: 1%;
        color: black;

    }

    #ddSelect {
        width: 100%;
        height: 40px;
        border: 1px solid lightgray;
        border-radius: 0%;
        background-color: #F8F8F8;
    }

    #container {
        width: 100%;
        /* border: 1px solid red; */
        text-align: center;
    }

    #innerContainer {
        padding: 5%;

    }

    img {
        width: 350px;
        min-height: 100px;
        border: 1px solid lightgrey;
    }

    /* input {
        width: 100%;
        height: 40px;
        color: white;
        padding: 2%;

        font-weight: lighter;
        font-family: Verdana, Geneva, Tahoma, sans-serif;


    } */

    /* Full-width input fields */
    input[type=text],
    input[type=tel],
    input[type=number],
    input[type=password],
    textarea {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: 1px solid lightgray;
        background: #f1f1f1;
        background-color: white;
    }

    /* input[type=text]:focus, textarea, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
} */

    /* #btn {
        background-color: rgb(23, 23, 110);
        height: 50px;
        width:100%;
        color:white;
        font-weight: bolder;

    } */
    .btnContinue {
        background-color: #04AA6D;
        color: white;
        padding: 1%;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    textarea {
        width: 100%;
        height: auto;
        min-height: 100px;
        resize: none;
        padding: 2%;
        font-family: monospace;
        font-size: larger;
        line-height: 1.5;
    }

    .inputTxt {
        border: 1px solid lightgray;
        color: black;
        font-family: monospace;
        font-size: larger
    }

    .imgList {

        height: 50px;
        width: 100px;
    }

    /* .frame{
        padding:2%
    } */
    .lblFile {
        background-color: black;
        color: white;
        font-family: monospace;
        padding: 2%;
        width: 140px;
        text-align: center;
        border-radius: 2%;
        margin-top: 2%;
    }

    input[type="file"] {
        opacity: 0;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        /* height: 100%; */

        cursor: pointer;
    }






    .container1 {
        position: relative;
        width: 31%;

        display: inline-block;
        margin: 1%;
        /* border:1px solid red; */

    }

    .container1 img {
        width: 100%;
        height: 100px;
        /* height: auto; */
    }

    .container1 .btn {
        position: absolute;
        width: 25px;
        height: 25px;
        padding: 0%;

        display: table-cell;
        vertical-align: middle;
        top: 20%;
        left: 85%;

        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: transparent;

        color: white;
        /* font-size: 16px;
        padding: 12px 24px; */
        border: 1px solid gray;
        cursor: pointer;
        border-radius: 50%;
        text-align: center;
    }

    .container1 .btn:hover {
        background-color: black;
    }
</style>