<div class="inputs-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()" #propertyForm="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" [(ngModel)]="loginModel.username" name="username" (input)="sharedInputValidator.onInputChange($event,20,'username')" required>
      </div>
      <div *ngIf="sharedInputValidator.exceededLimits['username']" class="text-danger">Exceeds maximum length!</div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" [(ngModel)]="loginModel.userpassword" name="password" (input)="sharedInputValidator.onInputChange($event,20,'password')" required>
      </div>
      <div *ngIf="sharedInputValidator.exceededLimits['password']" class="text-danger">Exceeds maximum length!</div>
      
     
      <button
      type="submit"
      [disabled]="hasExceededLimits() || !propertyForm.form.valid"
      [ngClass]="{
        'btn-primary': !hasExceededLimits() && propertyForm.form.valid,
        'btn-disabled': hasExceededLimits() || !propertyForm.form.valid
      }"
      class="btn">
      Submit
    </button>
    </form>
  
    <div class="create-account-option">

      <p>Don't have an account? <a (click) ="navigateToCreateAccount()" routerLinkActive="active" style="color:blue;">Create one here</a></p>
   
      <p [class]="messageClass">{{ _message }}</p>

    </div>
  </div>
  
    