<div class="side-menu">
    <form>
    
      <ul>
        <li *ngFor="let result of data">
          <label>
            <input 
              type="checkbox" 
              [checked]="isHomeChecked" 
              (change)="userChecked(result, $event)" 
            /> 
           {{result.houseTypeName}}
          </label>
        </li>
       
      </ul>
    </form>
    <form>
   
     
    </form>
    
    
  </div>
  

<!-- 

  <div class="logo"></div>
  <ul>
 
    <li><a (click)="onContactClick()">Contact</a></li> 
      
  </ul> -->