.side-menu {
    padding-top: 30px;
    padding-bottom: 0px;
    width: 250px;
    background-color: white;
    color: gray;
    text-align: center;
    min-height: 90%;
   
    /* border: 1px solid lightgray */
   
    
  }
  

  
  .side-menu ul {
    list-style-type: none;
    overflow-y: auto;
    padding: 0;
    margin: 0;
  }
  
  .side-menu ul li {
    margin: 15px 0;
  }
  
  .side-menu ul li a {
    color: gray;
    text-decoration: none;
    display: block;
   
    border-radius: 5px;
  }
  
  .side-menu ul li a:hover {
    background-color: #f0f0f0;
    color: black;
  }
  
  @media (max-width: 768px) {
    .side-menu {
      display: none;
    }
  }
  
  form{

    padding: 5%;
  }
  form h3 {
    text-align: center;
    margin: 0;
  }

  form ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }