.side-menu {
    width: 200px;
    background-color: white;
    color: gray;
    text-align: center;
    top: 0;
    left: 0;
  }
  
  .side-menu .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: gray;
  }
  
  .side-menu ul {
    list-style-type: none;
    overflow-y: auto;
    padding: 0;
    margin: 0;
  }
  
  .side-menu ul li {
    margin: 15px 0;
  }
  
  .side-menu ul li a {
    color: gray;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
  }
  
  .side-menu ul li a:hover {
    background-color: #f0f0f0;
    color: black;
  }
  
  @media (max-width: 768px) {
    .side-menu {
      display: none;
    }
  }
  