




    <div class="row" style="height: 600px;">
     
        <div  class="col-sm-12 col-md-2 col-lg-3 col-xl-3" >


        

        </div>
        <div  class="col-sm-12 col-md-8 col-lg-6 col-xl-6">
          <h2>አካባቢ</h2>
                    <label for="city"><b>ከተማ</b></label>
                    <input type="text" placeholder="city.."   [(ngModel)]='address.city'
                    name= "city" required>

                    <label for="city"><b>ግዛት</b></label>
                    <input type="text" placeholder="State" [(ngModel)]='address.State' name="State"  required>

                    <label for="zipCode"><b>አካባቢያዊ መለያ ቁጥር</b></label>
                    <input type="text" placeholder="zipcode"name='zipCode' [(ngModel)]='address.zipCode' required>

                    <fieldset style="border: 1px solid lightgray;padding: 2%;">
                      
                    <label for="street"><b>የመንገድ አድራሻ ወይም አካባቢ</b></label>
                    <input type="text" placeholder="street address or area"name='street' [(ngModel)]='address.street' required>
                    <mat-radio-group color="primary" aria-label="Select an option" (change)="onChange($event)" name="Sort">
                      <!-- <mat-radio-button value="newer">ነባሪ</mat-radio-button><br> -->
                  
                     <mat-radio-button  style="margin-right: 2%;" value="public">Public</mat-radio-button>
                      
                     <mat-radio-button value="private">Private</mat-radio-button> 
                   </mat-radio-group>
                    </fieldset>

                   
                    <!-- <label for="contact"><b>contact</b></label>
                    <input type="text" placeholder="contact .."name='contact' [(ngModel)]='address.phone' required>
             -->



















        </div>
        <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6">
          <button mat-button class="btnContinue" (click)="continue()">contineue..</button>
        </div>
    </div>

    <footer>
        <h5>fotter</h5>
      </footer>



