


  

    <div class="row" style="height: 600px;">
        <div  class="col-sm-12 col-md-2 col-lg-3 col-xl-3" >
       
  
     
     
        </div>
        <div  class="col-sm-12 col-md-8 col-lg-6 col-xl-6">       
                    <label for="city"><b>City</b></label>
                    <input type="text" placeholder="city.."   [(ngModel)]='address.city'
                    name= "city" required>
            
                    <label for="city"><b>State</b></label>
                    <input type="text" placeholder="State" [(ngModel)]='address.State' name="State"  required>
            
                    <label for="zipCode"><b>zip code</b></label>
                    <input type="text" placeholder="zipCode"name='zipCode' [(ngModel)]='address.zipCode' required>
            
                   
                    
                    <!-- <label for="contact"><b>contact</b></label>
                    <input type="text" placeholder="contact .."name='contact' [(ngModel)]='address.phone' required>
             -->
            
                   
                    
             
               
             
                   
          
                  <button mat-button class="btnContinue" (click)="continue()">contineue..</button>
          
             
            
                    
                   
            
            
            
        
         
        </div>
    </div>

    <footer>
        <h5>fotter</h5>
      </footer>
    
   
  
