.header_container {
    position: fixed;
    width: 100%;
    text-align: center;
}

.body_container {
    background-color: rgb(249, 253, 249);
    min-height: 100vh;
    margin: 0%;
    padding-top: 50px;
}

.footer_container {
    widows: 100%;
}