

  <div class="menu-container">
    <app-side-menu></app-side-menu>
  </div>
  
  <div class="home-container">
    <div class="property-item" *ngFor="let d of house">
      <img [src]="d.imageFiles[0]?.imageUrl" alt="Property Image" class="property-image">
      <div class="property-info">
        <h4>{{ d.header }}</h4>
        <p>{{ d.address.city }}</p>
        <small>Posted {{ d._Date }}</small>
        <div class="property-meta">
          <span>{{ d.imageFiles.length }} Pic</span>
          <span class="property-price">{{ d.price }}</span>
        </div>
      </div>
    </div>
  </div>
  