/* Hide the menu and adjust home container on small screens (phone) */
@media (max-width: 480px) {
  .menu-container {
    display: none;
  }

  .home-container {
    width: 100%;
    height: auto;
    margin-left: 0;
    text-align: center;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    
  }

  .property-item {
    display: flex;
   
    width: 100% !important;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    /* width: calc(25% - 1rem); */
    width: calc(50% - 0.5rem);
    overflow: hidden;
  }
}

/* Hide the menu and adjust home container on small screens (tablet) */
@media (max-width: 768px) {
  .menu-container {
    display: none;
  }

  .home-container {
    width: 100% ;
    height: auto;
    margin-left: 0;
    text-align: center;
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
  }
  .property-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    /* width: calc(25% - 1rem); */
    width: calc((100% / 3) - 1rem);
    overflow: hidden;
  }
}

/* Display the menu and adjust home container on larger screens */
@media (min-width: 769px) {
  .menu-container {
    display: block;
    position: fixed;
    height: 100vh;
    width: 20%;
    /* Full height of the viewport */
    overflow-y: auto;
    /* border: 1px solid green; */
  }

  .home-container {
    text-align: center;

    margin-left: 250px;
    /* Space for the menu */
    /* border: 1px solid red; */
   

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
  }

  .property-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    width: calc(25% - 1rem);
    /* width: calc((100% / 3) - 1rem); */
    overflow: hidden;
  }
}




/* Individual Property Item */


/* Property Image */
.property-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* Property Info */
.property-info {
  padding: 0.5rem;
}

.property-info h4 {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  color: #333;
}

.property-info p {
  margin: 0.25rem 0;
  font-size: 0.9rem;
  color: #666;
}

.property-info small {
  color: #999;
}

/* Property Meta (Price and Image Count) */
.property-meta {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.property-meta span {
  font-size: 0.9rem;
  color: #333;
}

.property-price {
  font-weight: bold;
  color: #000;
}