

  <!-- <div class="menu-container">
    <app-side-menu></app-side-menu>
  </div> -->
  <div class="slideContainer" style="padding-top: 40px; padding-bottom: 40px;">
    <app-slide-buttons-view></app-slide-buttons-view>
  </div>

  <div class="home-container">
    <!-- <div *ngIf="isLoading" class="loading">
      <h3>loading...</h3>
     
    </div> -->
    <div *ngIf="housesDetails.length <=0" class="loading">
      {{"loading..."}}
      <h3 >{{prompt}}</h3>
    </div>
    <div class="property-item" *ngFor="let d of housesDetails" >
      <img [src]="d.images[0].imageUrl" (click)="navigateTo(d,'detail', d.house.houseId)" alt="Property Image" class="property-image">
      <div class="property-info">
        <h4>{{ d.house.header }}</h4>
        <!-- <p>{{ d.address.state }}</p> -->
        <p>{{ d.address.city }}</p>
        <!-- <p>{{ d.house.description }}</p> -->
        <!-- <div class="description-container">
          <p class="description-text">
            {{ getShortDescription(d.house.description) }}
            <span *ngIf="d.house.description.length > maxDescriptionLength" class="more-link">more</span>
          </p>
        </div> -->
        <!-- <p>Posted on: <small>{{ d.house.datePosted| date: 'MMM dd, yyyy, hh:mm a' }}</small></p> -->
        <p>Posted on: <small>{{ d.house.datePosted| date: 'MMM dd, yyyy' }}</small></p>
        <!-- <i class="fas fa-heart"></i> -->
        <div class="property-meta">
          <span class="property-images">
            <!-- <i class="fas fa-camera"></i>  -->
            {{ d.images.length }} Photos
          </span>
          <span class="property-images" id="{{d.house.houseId}}" (click)="toggleLike(d.house.houseId)">
            <i [class]="likedHouses[d.house.houseId] ? 'fas fa-heart liked' : 'far fa-heart not-liked'"></i>
          </span>
          
          <span class="property-price">
            {{ d.house.price | currency: 'USD' : 'symbol' : '1.0-0' }}
          </span>
        </div>

        
      </div>
    </div>
  
  <!-- <div class="property-item-new" *ngFor="let d of housesDetails" >
    <img [src]="d.images[0].imageUrl" (click)="navigateTo(d,'detail')" alt="Property Image" class="property-image-new">
    <div class="property-info">
      <h4>{{ d.house.header }}</h4>
    
      <p>{{ d.address.city }}</p>
   
      <div class="description-container">
        <p class="description-text">
          {{ getShortDescription(d.house.description) }}
          <span *ngIf="d.house.description.length > maxDescriptionLength" class="more-link">more</span>
        </p>
      </div>
      
      <p>Posted on: <small>{{ d.house.datePosted| date: 'MMM dd, yyyy' }}</small></p>
     
      <div class="property-meta">
        <span class="property-images">
         
          {{ d.images.length }} Photos
        </span>
        <span class="property-images" id="{{d.house.houseId}}" (click)="toggleLike(d.house.houseId)">
          <i [class]="likedHouses[d.house.houseId] ? 'fas fa-heart liked' : 'far fa-heart not-liked'"></i>
        </span>
        
        <span class="property-price">
          {{ d.house.price | currency: 'USD' : 'symbol' : '1.0-0' }}
        </span>
      </div>

      
    </div>
  </div> -->
  
   
  </div>
  