@media (max-width: 768px) {
    .menu-container {
      display: none;
    }
  
    .home-container {
  
      width: 100%;
      margin-left: 0;
      text-align: center;
      border: 1px solid lightgray;
    }
  }
  
  @media (min-width: 769px) {
  
    .menu-container {
  
      display: block;
      position: fixed;
      height: 100vh; /* Full height of the viewport */
      /* border: 1px solid lightgray; */
      overflow-y: auto;
    }
  
    .home-container {
  
      text-align: center;
      width: 100%;
      margin-left: 200px;
      border: 1px solid lightgray;
    }
  }