.example-card {
    width: 100%;

    z-index: -1;

   }

   .example-header-image {
     background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
     background-size: cover;
     max-height: 100px;

   }

   .imgcontainer {
     position: relative;
     text-align: center;
     color: white;
     padding: 0%;
     margin: 0%;
   }
   .imgcontainerlist {
    position: relative;
    text-align: center;
    color: white;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 13rem;

    overflow:hidden;

  }
   .bottom-left {
     position: absolute;
     bottom: 8px;
     left: 16px;
   }
   mat-card{
    margin: 1%;
  }
  .top-left {

    text-align: center;
     position: absolute;
     top: 0px;
     left: 0px;
     margin: 2%;
     padding-left: 1%;
     padding-right: 1%;
     background-color: white;
     color: black;
  
   
     height:30px;
     min-width:50px;
     width: auto;
     border-radius: 3%;
  
   }

   .top-right {
     position: absolute;
     top: 0px;
     right: 0px;
     height:auto;
     padding: 3%;background-color: white;
     color: gray;
     border-radius: 3%;


   }

