<p>recipe works!</p>
<button (click)="getRecipe()">Get Recipe</button>

<button (click)="getRecipeWithImage()">Get recipe with image</button>

<button (click)="uploadFiletoS3_FromUrl()">upload to s3</button>

<div *ngIf="imageUrl" class="imageUrl">
  <h3>Generated Image:</h3>
  <img [src]="imageUrl" alt="Generated image for the recipe" />
</div>
<div *ngIf="recipe">
  <h2>{{ recipe.title }}</h2>
  <h3>Ingredients:</h3>
  <ul>
    <li *ngFor="let item of recipe.ingredients">{{ item }}</li>
  </ul>
  <h3>Steps:</h3>
  <ol>
    <li *ngFor="let step of recipe.preparation_steps">{{ step }}</li>
  </ol>
  <p><strong>Cooking Time:</strong> {{ recipe.cooking_time }}</p>
 
</div>


